[2013-09-09 17:26] bkuhl opened #1 "Angular 1.2 drops ng-animate in favor of an AnimateService"
This is not compatible with Angular 1.2 as ng-animate is no longer a directive

[2013-09-09 17:57] bkuhl opened #2 "Include version number in JS"
The JS file does not contain any version information

[2013-09-24 03:42] danieljsinclair opened #3 "toaster service and controller do not support minification."
Both are missing the [, function(){}] syntax;

   .service('toaster', ['$rootScope', function ($rootScope) {

[code]

[2013-09-26 10:40] danieljsinclair opened #4 "Set timeout in pop() method"
Is it not possible to have error messages stay until clicked but info go away in a timer? As far as I can tell, this is a service configuration but it would be nice to be able to override the defaults in the pop() method.

[2013-09-27 07:08] #2 closed, assigned to jirikavi

[2013-09-27 07:10] #4 closed, assigned to nobody

[2013-09-27 07:14] #3 closed, assigned to nobody

[2013-09-27 08:28] #1 closed, assigned to nobody

[2013-10-08 09:20] astik opened #6 "Bower availability ?"
Hi,
Could it be possible to have angularjs-toaster available through bower ?
Here is a link explaining how to do it : http://bower.io/#registering-packages
Thanks in advance

[2013-10-12 08:42] mibamur opened #7 "Add HTML code to text?"
### Hello!

Thanks for AngularJS-Toaster.

How can I add `html` to `{{toaster.body}}`, from my controllers scopes?

I can save template to file, like `templateUrl` and then paste necessary `html` that I need... I can make many `templateUrl` for each my task and add arrgs to pass what `template` I want to show at time. But it`s bad way.

[2013-10-16 11:26] #7 closed, assigned to nobody

[2013-11-08 01:46] RyanElfman opened #10 "Support for templates"
Original question: Is it possible to have support for templates? I'd like to use this but provide my own HTML instead of what the original toaster is using. It would be nice to be able to replace {{toaster.body}} with a specific template.

EDIT
I noticed there is code for toaster.html in there but is it possible to specify a template?

[2013-12-07 17:47] #10 closed, assigned to nobody

[2013-12-11 10:08] sroze opened #13 "Create tag and update bower.json"
It's wrote on the README file that the current version is 0.4 but the bower.json file version is 0.3.0.

Is it possible to update the `bower.json` file with the current version and create a tag ? Thanks to this, it will be possible to install it using bower.

[2013-12-11 10:54] #13 closed, assigned to nobody

[2014-01-24 02:23] jakcharlton opened #15 "HTML cant be put in message as far as I can see"
In normal Toastr, using a message with HTML in it will display that HTML in the toast

In this version, it looks like the HTML is being passed back as text by Angular

[2014-01-24 02:37] #15 closed, assigned to nobody

[2014-02-08 19:58] derekperkins opened #18 "Loading from cdnjs"
I'd love to use this off of cdnjs.
https://github.com/cdnjs/cdnjs

Do you already deliver to npm? cdnjs has a setting to automatically pull from npm every 4 hours, so after an initial setup, hopefully you can just forget about it. :) Thanks for a great plugin!!

(from cdnjs) Enabling NPM auto update

We automatically update libraries that are also hosted on NPM e.g. Lodash.

This script runs autom

[2014-03-12 17:57] #18 closed, assigned to nobody

[2014-03-17 16:39] jpeters-programmer opened #24 "Accidental post - you can delete this"
Posted in the wrong repo, my apologies!

[2014-03-17 21:34] #24 closed, assigned to nobody

[2014-03-20 10:26] kvetis opened #25 "Use of unitialized variable "mergedConfig""
At AngularJS-Toaster/toaster.js:72:39

The problem occurs when I use the toasterContainer directive without toasterOptions attribute, therefore the condition on line is not met and the mergedConfig is not initialized. The component then can't be run. Plunker: http://plnkr.co/edit/ByDcv1DK9mp4FBgUHROP?p=info

Version: 0.4.5

[2014-03-24 19:10] bojank opened #26 "Dependencies"
I noticed that the dependency on angular is 1.2.14 and would like to suggest making the dependency the lowest angular&animate needed to make AngularJS-Toaster work.

[2014-03-30 22:12] pisaacs opened #28 "Question: Supports IE9?"
Does the angularjs-toaster directive support IE9?

[2014-04-01 09:10] lazywei opened #29 "Unstable"
I use angular and angular-animate with version 1.2.15
I use AngularJS-Toaster with version 0.4.5 (via bower)

However, it seems Toaster are not stable. Sometime it just didn't show. I still can't get the reason. There is no error message.
Does anyone face this problem also?

[2014-04-15 11:13] Bibeknam opened #31 "Failed to load module"
I downloaded the zip file. And copy the toaster.js into js folder and toaster.css to css. I used them in the program, they loaded successfully. But when I injected module 'toaster' into my app, it says cannot load module.

[2014-04-16 12:22] #29 closed, assigned to nobody

[2014-04-16 12:25] #28 closed, assigned to nobody

[2014-04-16 12:27] #25 closed, assigned to nobody

[2014-04-16 13:12] #26 closed, assigned to nobody

[2014-05-07 11:06] markbarton opened #34 "Accessing the toast instance externally"
Hi,

Currently storing a list of notifications that need to be displayed to a user when they open the application in a Database.  I needed to capture when either they click on the notification to dismiss it or if its not sticky when the notification closes.

I changed the constructor to this so I could pass a UNID which is the DB reference:

[code]
I then modified the removeToast method to broadca

[2014-05-16 00:06] JobaDiniz opened #36 "Difference with toastr by Jonh Papa"
What's the difference for the toastr by Jonh Papa?
I could easily work with the toastr, couldn't I?

[code]

Supposing toastr library is loaded.
So, why should I use the AngularJS-Toaster?

[2014-05-16 12:27] #36 closed, assigned to nobody

[2014-05-16 14:45] #31 closed, assigned to nobody

[2014-05-28 06:51] jigardafda opened #37 "No option for setting max-height"
![screenshot 2014-05-28 12 12 12](https://cloud.githubusercontent.com/assets/1404576/3101442/5950dc88-e634-11e3-845e-e25a7d7911a1.png)

[2014-06-04 14:03] seriouscoderone opened #38 "Remove bootstrap dependency"
Can you remove the Bootstrap dependency?

Including it can be destructive for sites not currently using bootstrap.

[2014-06-12 19:59] Nodarii opened #39 "toast isn't appear"
Hello,

I'm beginner with angularJS and may be don't understand something, but strange thing is happened and toast doesn't appear.

I've made some investigation, here are some results:
1. Toast has been added in "scope.toasters"
2. Ng-repeat doesn't catch it.

Solution:

Add "scope.$digest();" on 115 line.

Please provide some other variant or I can make pull request.

[2014-06-20 13:08] sverraest opened #41 "toaster.bodyTemplate documentation"
Is there an example of how to use a body template?

[2014-07-14 22:26] mmadrigalac opened #42 ".min.js not available in git"
Hi Jiri,
Let me tell you, first that all, that your work is awesome!

I Just wanted to know if it's possible to add a .min.js in the repository.
I've generated one by myself and I was wondering if you could included as other gits available in the community.

Thanks in advance!
*my apologies if this is not the correct place for this request.

[2014-08-09 21:59] 2buisson opened #46 "Remove ng-animate dependency"
Since ng-animate no longer with AngularJS 1.2+, why do not remove it?
http://www.yearofmoo.com/2013/08/remastered-animation-in-angularjs-1-2.html
Thanks! still one my favorites directives :)

[2014-08-26 11:41] #38 closed, assigned to nobody

[2014-08-26 11:44] #46 closed, assigned to nobody

[2014-08-26 11:57] #41 closed, assigned to nobody

[2014-08-26 12:00] #39 closed, assigned to nobody

[2014-08-26 12:07] #37 closed, assigned to nobody

[2014-09-14 01:55] peterorum opened #47 "Conflicts with angular-ui carousel"
Stops the carousel from receiving the transitionEnd event.

[2014-09-17 15:37] niemyjski opened #48 "Add support for Angular 1.3"

[2014-09-25 08:59] #48 closed, assigned to nobody

[2014-09-28 12:37] meskis opened #49 "Conflict with d3 lib"
Hey,

I'm having issues using both: "AngularJS-Toaster" and "angular-nvd3" with d3 library, resulting in:
`Cannot set property 'd3' of undefined`

[2014-10-08 12:24] dmytro-shchurov opened #50 "Less, Scss availability?"
Hi,
it would be nice to be able to apply application corporate styles with preprocessor variables.

[2014-10-08 20:15] Avallach160 opened #51 "Angular version in bower.json"
In the bower.json file, it is asking for Angular 1.2.6. The latest Angular version is 1.2.26 according to their website, although a recent bower update did find 1.2.27. Either way, Toaster is looking for a version of Angular which isn't out. Locally, the my app builds fine and toaster works as expect. However, when putting it through TeamCity, the bower update fails as it cannot find version 1.2.6

[2014-10-08 23:23] #51 closed, assigned to nobody

[2014-10-10 05:02] Serhioromano opened #52 "Check if the same message already exists."
For example on submit form button click, if no required fields, pop message. But if user click 10 times or continue clicking messages continue to be added to messages stack.

I know that there is no sense for user to do that. But anyway, is there a way that if the same message already exists, then we only extend or reset it's lifetime? May be some bounce animation also?

[2014-10-10 18:49] Soufraz opened #53 "Use as service"
How can I use the toaster as a service?
I need to use it in all my project angularjs.
I've tried something, but the ng-controller appears required.
Is there another way?
I need fire the pop() inside any controller.

[2014-10-17 09:22] cconrad opened #55 "Suggestion"
`$rootScope.$broadcast` propagates the event down from the $rootScope until it hits the scope with the directive. For performance reasons it might be better to use `$rootScope.$emit` and in the directive `$rootScope.$on` instead of `scope.$on`.

Anyway, thanks for a great module :+1:

[2014-10-19 14:56] williamboman opened #56 "Broken on 1.2"
The latest release (`0.4.8`) breaks apps using Angular `~1.2.0`. Bower now resolves angular-animate to `1.3.0`, which depends on `angular#1.3.0`. This introduces this issue;

[code]

Should've been a 0.5 release.

[2014-10-27 19:33] hanthomas opened #58 "Ability to retrieve and manipulate toasts"
It would be great if we could access an existing toast by ID, like the way KayHadrin implemented it in his/her fork.  Thanks!

[2014-11-03 12:43] thkoch2001 opened #60 "move 'use strict' directive into function"
The global 'use strict' directive might cause problems when the file gets concatenated with legacy code. Please wrap the whole JavaScript file in an anonymous function and place the 'use strict' directive as the first line in the function.

Thank you!

[2014-11-06 20:40] maxisam opened #61 "Using Font Icon instead of base64 embedded icon"
Hi ,

I think some developer like me would like to use font icon instead of base64 embedded icon. I wonder if you want to go that way.

To achieve that, we just need to change a few lines of code.

Here is the [code](https://github.com/jirikavi/AngularJS-Toaster)
Here is how it look in [demo](http://plnkr.co/edit/rrOokqccsgylpF0zxJNu?p=preview)

BTW, I used fontawesome in the example.

Sam

[2014-11-06 21:32] foobar8675 opened #62 "Fade in / out durations"
How do you change the fade in / out animation durations?

[2014-11-19 07:38] #52 closed, assigned to nobody

[2014-11-25 16:34] #55 closed, assigned to nobody

[2014-11-25 16:34] #60 closed, assigned to nobody

[2014-11-25 16:34] #49 closed, assigned to nobody

[2014-11-25 16:34] #47 closed, assigned to nobody

[2014-12-01 14:35] corientdev opened #67 "my project is not taking toaster-options"
//imported scripts
https://code.angularjs.org/1.2.12/angular.js
bootstrap.min.css
font-awesome.min.css

jquery.min.js
bootstrap.js
angular.min.js

angular-animate.min.js
toaster.js
toaster.css

ui-bootstrap.js
angular-sanitize.min.js
angular-file-upload.min.js
angular-ui-router.min.js
underscore-min.js
smart-table.min.js
//imported scripts

This is the script i am using is there any clashes or any

[2014-12-04 13:51] zyadsherif opened #70 "Attach actions to the toaster element"
Hi,

Is there a way to attach a custom action on the toaster cards? I am currently trying to pop a message that when will resend a verification email to the user.

thanks

[2014-12-04 20:44] mleanos opened #71 "Implementation in meanjs.org stack"
Has anyone had any success in implementing this into a default meanjs.org application? I can provide details on my setup, if asked. However, my application config & architecture is the meanjs.org stack.

I've spent some time trying to implement it, but there seems to be something wrong with loading the AngularJS-Toaster service, and adding it to my application's dependencies. When I add it to my a

[2014-12-05 10:36] deborasetton opened #72 "Toasts won't show up under certain conditions"
Hi,

I'm trying to understand an issue that ocurred when I was trying out AngularJS-Toaster like shown below. I'm aware this is _not_ the way to use it, I was just trying to experiment in the Chrome console:

[code]

What happens is that I can call ` _toaster.pop('success', "title", "text");` 20 times in the console, and no toast will show up until the first toast that was created is destroyed aft

[2014-12-11 14:17] gautamverma opened #73 "Only Info toast type are shown"
For me toaster only show the info message types irrespective of type.

I have tried calling it by

toaster.pop('warning', "Cancelled", "Grouping operation cancelled.");
toaster.pop({type:'error', title: "Error", body:"Oops...something broke. Please try again"});

Always show the green toast with the info icon.

Any idea why??

I have add all the dependices and module in my application but still no

[2014-12-18 11:57] RoopaHimanshu opened #76 "Does it compatbile with all browsers?"
AngularJS-Toaster supports what all browsers?

[2015-01-05 10:38] zyadsherif opened #77 "First toast appears correctly, all others appear with the same color"
Hi am having a problem where only the first toast after refreshing the page would work with the correct type param, all following toasts just default to the blue color which is the info type.

[2015-01-06 11:49] Gamaroff commented on #77
I am also having the same problem.

[2015-01-07 12:50] RichardJECooke commented on #58
Hi. Did you find a way to do this?  I'd love to be able close a specific toast - like you can in normal toastr 'Close last toast' : http://codeseven.github.io/toastr/demo.html

[2015-01-07 16:15] doodirock opened #78 "Working with Angular 1.3*"
Is this working with 1.3?  When I add it to my project using the ng-animate 1.2.8 I get a ton of errors.

TypeError: object is not a function

[2015-01-07 17:15] doodirock commented on #78
This issue is an update in ngAnimate.

[2015-01-07 17:15] #78 closed

[2015-01-09 15:48] geekuillaume commented on #62
I've just used this and it's working great !

[code]

[2015-01-10 13:00] gautamverma commented on #73
is this changes implemented in the toaster js??

[2015-01-14 14:36] jirikavi commented on #53
Hi,
It's perfect you found your answer on SO.
When I have a little time I will focus on improving docs.
Jiri.

[2015-01-14 14:36] #53 closed

[2015-01-14 14:39] jirikavi commented on #76
Hi, I haven't tested all browsers. I suppose that it works on modern browsers. IE 8 might have some troubles with CSS3 but I haven't tested it.

[2015-01-14 14:39] #76 closed

[2015-01-14 16:10] jirikavi commented on #73
Hi,
Thank you all for your investigation. The fix is done in the latest release.
Jiri.

[2015-01-14 16:10] #73 closed

[2015-01-14 16:12] jirikavi commented on #71
Hi,
Thank you for your comments.
The fix was done in latest commit.
Jiri.

[2015-01-14 16:12] #71 closed

[2015-01-14 16:13] #67 closed

[2015-01-14 16:57] jirikavi commented on #70
Hi,
There is an option to add an action on a click handler.
You can also do some action on you $scope or in template of a toast.
Jiri.

[2015-01-14 16:57] #70 closed

[2015-01-14 16:59] jirikavi commented on #50
Hi,
Scss was implemented.
Jiri

[2015-01-14 17:01] jirikavi commented on #77
Hi,
I did some fixes in latest commit so you also your bug might be fixed.
Jiri.

[2015-01-14 17:06] zyadsherif commented on #77
@jirikavi updated to the latest push, still no luck.

[2015-01-15 12:19] dmytro-shchurov commented on #50
Awesome! Thank you. Gonna test this a bit..

[2015-01-15 14:35] #50 closed

[2015-01-15 14:47] jirikavi commented on #77
Hi,
That is weird, Can you provide some plunk with this issue?
Jiri

[2015-01-21 12:25] catokx opened #83 "Setting the target to a specific div instead the whole body"
is it possibile to implement "containerId" option to let appera notification inside a div instead the whole body?

[2015-01-21 12:40] jirikavi commented on #83
Hi, why don't you place the toaster directive inside a div? Toaster is implemented as singleton so it does not have sense to create multiple toaster directives with different containterIds.

[2015-01-21 12:49] catokx commented on #83
i tried it but the toast appears ever in the same position, top-right of the whole screen

[2015-01-21 13:00] jirikavi commented on #83
you can define position of toasts by set up of "position-class" or "animation-class" properties. Take a look to this plunker: http://plnkr.co/edit/1poa9A

[2015-01-22 15:50] danieljsinclair commented on #10
Is there no way to pass data from the pop() method that can be used when the template is rendered? I notice that body and bodyTemplate unfortunately get combined. It would be useful when using the ng-included template if there were a way to pass data through to the scope. An extra parameter on the end of the pop function that takes an object such as "{ name: 'dave', message:'user not found' }" wou

[2015-01-22 16:31] catokx commented on #83
i solved using this css

#toast-container {
  position: absolute;
  z-index: 999999;
  /*overrides*/
}

instead of

#toast-container {
  position: fixed;
  z-index: 999999;
  /*overrides*/
}

[2015-01-29 13:54] minirobotdan commented on #72
I'm also experiencing this, and I think it has something to do with $location.path(). Whenever the my application change's the location using this method (for me it's on a 401 in the auth interceptor and during a logout), the first toast to be fired off after this change does not materialise.

[2015-01-29 14:11] brunomperes opened #86 "Document API"
Would be appreciated to have the methods and options :D

[2015-01-29 14:53] jirikavi commented on #86
I am going to write it but I haven't had time... Look at plunks, there are selfdescribed examples

[2015-01-30 17:08] minirobotdan commented on #72
More weirdness regarding this issue, we have several instances in our application where the error callback on a $resource won't trigger a toaster inside it, unless I console log the error in the line above.

Here's an example from our application:

		Job.save({report: payload}, function(data) {
			toaster.pop('success', 'Success', 'Report scheduled successfully.');
		},function(error) {
         /

[2015-02-01 06:36] jeffreynolte commented on #72
+1 on this issue. I am using toaster in a similar way to you @minirobotdan:

[code]
While my issue does not have to do with console it is moreso an issue with url / hash change but I feel they can be related.  When I change routes in my app (controller is shared between routes) I get a similar issue where `toaster.pop` will only work on the route which was initially loaded (changing routes makes i

[2015-02-08 16:19] Grievoushead opened #87 "Is it possible to use binding for dynamic data in toast ?"

[2015-02-09 14:12] mehmedju opened #88 "Toaster closeButton option"
Hi,

I would like to have a possibility to manually define a way of displaying toaster. For example, I would have an option closeButton on the error notifications.
How can I do that?
I've done something like this, but it doesn't work:

   toaster.pop('error', 'Error message', {
                    closeButton: true
                });

[2015-02-10 18:51] mohdsanadzakirizvi commented on #62
how to give x,y position for the toaster?

[2015-02-15 08:55] mohdsanadzakirizvi opened #91 "can you control the position of the toast?"

[2015-02-15 09:03] jirikavi commented on #91
Hi, you cannot control position of particular toast. You can define position of Toaster container where toasts are generated.

[2015-02-15 11:19] cimey opened #92 "toaster does not work witj ngAnimate"
hi, when toaster.js inject ngAnimate it does not work, when i delete the ngAnimate injection from toaster.js it show message wthout animation. what is the problem?

[2015-02-17 17:46] PhiLhoSoft commented on #91
It would be nice if we were able to specify the position when calling pop() or info() or similar.
I want some notifications to be out of the way, on the top-right side, and some others to be in the center of the screen, to be more noticeable.

[2015-02-20 09:33] Jaggi opened #94 "Template With Data"
Has anyone been able to get this to work?

This is the example in the plunker demo but it's not actually passing in any values to the template. What do I need to do to pass in an object into my template? I've tried a long list of things so far.

toaster.pop('warning', "Hi ", "{template: 'myTemplateWithData.html', data: 'MyData'}", 15000, 'templateWithData');

[2015-02-20 09:47] Jaggi commented on #94
Actually just figured it out would be worth updating the demo:

$scope.MyData = {name:'my name'};
toaster.pop('warning', "Hi ", "{template: 'myTemplateWithData.html', data: MyData}", 15000, 'templateWithData');

[2015-02-24 13:34] Clarkey commented on #91
@PhiLhoSoft couldn't you make different containers, and then have different function calls for different positions? e.g. popTopRight() popCentre() popBottomLeft()

[2015-02-28 11:17] mohdsanadzakirizvi opened #95 "how to increase/decrease width/height of toast"

[2015-03-02 00:18] jdforsythe opened #96 "animated spinner image has bad outlines on circles"
the switch to an animated spinner image was nice, but it introduced outlines on the circles because it was an animated gif which doesn't support partial transparency. I have submitted a pull request to update the css file with a replacement png image and using css3 animation to give it a nice spinning effect.

[2015-03-02 15:45] PhiLhoSoft commented on #91
Why not, but I think that currently, we cannot do that. As you wrote, it might need some changes to the code.

[2015-03-03 16:11] jirikavi commented on #94
Hi Jaggi,

sorry that I haven't replied earlier. You could find it in the latest plunk: http://plnkr.co/edit/HKTC1a

Jiri.

[2015-03-03 16:11] #94 closed

[2015-03-03 16:16] jirikavi commented on #92
Hi,

I really don't know because it works for me in sample plunks at readme page. (check these plunks to review your code)
I also tried the latest versions of angular/angularAnimate and also works.

Jiri.

[2015-03-03 16:19] jirikavi commented on #91
Hi,

I am sorry but I am busy with other projects so I am not able to add this functionality.
If you create a PR then I will merge ti.

Jiri.

[2015-03-03 16:23] jirikavi commented on #88
Hi,

currently you can defined close button only for all toasts, not for just some.
I am sorry but I am busy with other projects so I am not able to add this functionality.
If you create a PR then I will merge it.

Jiri.

[2015-03-03 16:24] #83 closed

[2015-03-05 13:07] PhiLhoSoft commented on #91
Fair enough. I will try. Thanks.

[2015-03-06 07:13] #91 closed

[2015-03-11 22:28] dsargent3220 opened #102 "Toaster continues to fire digest cycle after toast fades."
Toaster 0.4.10
Angular 1.3.10
We've ran into a problem where if we pop a toast, then the digest cycle continues to get called once every 5 seconds (the default timeout).  If we click the toast to make it close then this does not happen.

This is a major performance issue.

Any thoughts?

[2015-03-11 22:34] dsargent3220 commented on #102
Ahh.  I see that kayhadrin addressed this in a pull request almost a year ago now, which leads me to believe this isn't getting fixed anytime soon. . . .
I'll take a look it their version.

[2015-03-11 22:45] dsargent3220 commented on #102
Aaaaand, nevermind.
So, turns out you fixed it, but decided not to update the version number in the change log?  Wha?
Sorry, don't mean to complain . .  it's just kind of frustrating to spend allot of time tracking down something because someone didn't want to update the version number.

Thanks for doing the work and keeping it updated though.  Very appreciated.

[2015-03-11 22:45] #102 closed

[2015-03-12 15:32] dsargent3220 opened #103 "0.4.10+ not min safe"
Line 91 is not min safe, it should read
	.factory('toasterEventRegistry', ['$rootScope', function ($rootScope) {
See:
https://github.com/jirikavi/AngularJS-Toaster/blob/master/toaster.js#L91

[2015-03-12 15:36] jirikavi commented on #103
Thanks for the info, it is fixed.
Jiri.

[2015-03-12 15:36] #103 closed

[2015-03-15 22:57] cannycookie opened #105 "possible to animate swipe-left-right to dismiss?"
I see Ionic have updated the tinder style cards but this is overkill for swipe to dismiss. Has anyone created a directive to animate  an element  swiping left?

[2015-03-17 22:02] yan-kisen opened #107 "Get global toaster count externally"
It would be nice to be able to count the amount of toasters at any given time.

I want to limit the amount of toasters, especially if recovering from a loop. This would be different than setting the 'limit' option to 1, because the time delay between create/clear creates a jumping effect.

I think that it may be as easy as calling  $rootScope.$emit('toaster-removeToast'), and setting up an externa

[2015-03-23 16:39] visikov opened #109 "Typeo in css"
https://github.com/jirikavi/AngularJS-Toaster/blob/master/toaster.css#L116

Missing the r in center

[2015-03-23 17:36] bretongoers opened #110 "New Tag/Release for Package Managers?"
Is it possible to create a new tag/release for i.e. Bower? Would be nice to be able to pull down the latest changes and Bower is still showing version 0.4.10 linked with [this commit](https://github.com/jirikavi/AngularJS-Toaster/commit/9deedc8d084d39fc1a77feafa42028989d064d7c) from January. There have been quite a few good changes since then!

[2015-03-25 08:34] saadlu opened #111 "$destroy clears event listener but toasterRegisterEvents is not updated"
This is a newbie question really, so not necessarily an issue.

I am using ui-router along side with angularjs-toaster. At certain point of my application, I need to reload a state. ui-router broadcasts, `$destroy`, when a state is reloaded. Receiving a `$destroy`, toaster de-registers events, due to

[code]

which is fine, but this does not resets the `toasterRegisterEvents` and so `isRegisteredN

[2015-03-25 08:39] saadlu commented on #111
[code]

For now, as a quick solution, I have added this locally, on `toasterFactory`.

[2015-03-25 14:40] jirikavi commented on #111
Hi saadlu,
I think you have some old version of the library.
Please try to update to the latest one.
Jiri.

[2015-03-25 14:53] jirikavi commented on #110
Hello,
it is done,
Jiri.

[2015-03-25 14:53] #110 closed

[2015-03-25 15:01] saadlu commented on #111
Ah right. Thanks. But you don't have a tag for it. master is a moving, so wanted to use a tagged branch. I will watch out for the next tag. For now, I will point bower to latest

[2015-03-25 15:01] #111 closed

[2015-03-25 15:07] jirikavi commented on #111
I've just released it.

[2015-03-25 15:31] saadlu commented on #111
not seeing new tag yet. It is still 0.4.10. Am I doing something wrong?

[2015-03-25 17:08] bretongoers commented on #110
This is still not resolved. You need to add a git tag for v0.4.11 so bower or other package managers can read it. [This answer](http://stackoverflow.com/a/20055632/1415949) explains it. You must run ```git tag 0.4.11``` and then ```git push origin 0.4.11``` to tag the latest stable commit and then push it for reading.

[2015-03-26 13:12] jirikavi commented on #42
Hello, the minified version is now available.

[2015-03-26 13:12] #42 closed

[2015-03-26 13:14] jirikavi commented on #110
Hi, I fixed it,
please try.

[2015-03-26 13:15] jirikavi commented on #111
Hi,
please try again, I forget the tag :)

[2015-03-26 13:18] #6 closed

[2015-03-26 13:20] jirikavi commented on #56
I think this issue is not valid anymore.

[2015-03-26 13:20] #56 closed

[2015-03-26 13:20] #92 closed

[2015-03-26 13:20] #88 closed

[2015-03-26 13:24] jirikavi commented on #95
Hi, you can do it in your own custom css.
for example:
#toast-container > div {
  width: 400px;
  height: 400px;
}

[2015-03-26 13:24] #95 closed

[2015-03-26 16:05] bretongoers commented on #110
Thanks!

[2015-03-27 15:43] Stabzs commented on #87
What are you wanting to accomplish and what would the duration for the dynamic data be?  Are you looking to update the data in the toast after you pop it?  There's not enough information in this issue to take any action on it.

[2015-03-29 14:59] olso commented on #72
@jeffreynolte thanks for the alternative repo

[2015-04-01 09:04] maxleiko opened #113 "bower.json main shouldn't contain minified versions"
If you use `grunt wiredep` to automagically add your bower deps to your index.html scripts/css, you will have the raw `.js` & `.css` versions, plus the minified ones, added.
Might be better if you just point to the raw versions, in bower.json main.
The minifying process is, in most cases, handled by another task in a project.

[2015-04-02 10:45] jirikavi commented on #113
Hi,
I removed it in the latest release.
Jiri.

[2015-04-02 10:45] #113 closed

[2015-04-02 10:46] jirikavi commented on #109
Thanks for the notice.
Fixed int the latest release.
Jiri.

[2015-04-02 10:46] #109 closed

[2015-04-02 11:25] maxleiko commented on #113
Thanks :+1:

[2015-04-21 14:49] Gumarelo commented on #77
I'm having the same problem.

All is in blue

Automatically is generating

<div ng-repeat="toaster in toasters" class="toast ng-scope toast-info" ......>

[2015-04-24 04:39] image72 opened #114 "toaster.pop cant show in async"
hi, master. I used AngularJS-Toaster 0.4.12, with that code. but often cant show toaster, or maybe second time show. never rails error.
[code]

I found in toaster.js line 83
[code]

[2015-04-27 07:21] image72 commented on #114
use this;
[code]

[2015-04-27 07:21] #114 closed

[2015-05-03 01:48] rotembo opened #120 "Cant fire toaster from interceptor"
does anyone else had this issue?

[2015-05-12 13:23] irongomme commented on #77
Same for me when called from a nested controller ... otherwise all is good !

[2015-05-13 16:21] maybeswap opened #122 "Toaster close button always true in click handler if the toast showCloseButton is set"
I have been using version 0.4.10 in a project. In this version, the click handler accurately determined if one had clicked the "close" button or had just clicked the toast itself.

You could see this in the template, with: ng-click="click(toaster, true)" called on the close button.

In the version 0.4.13, the close button has no such parameter in the template, and the consuming click handler check

[2015-05-20 15:06] chad112 opened #124 "On PHP form submit"
Hi! This is more on the side of misunderstanding. I can't figure out a way to call Toaster on a PHP form submit, or when there's a certain location hash (blahblah.com/#success). Do you have any advice on making that work?

[2015-05-20 18:43] Stabzs commented on #124
You would not be able to call it on a full page submit, since you'd have a full page load.  What you COULD do is create an onLoad handler that scraped the URL, looked for pertinent information (such as #success) and build a toast notification and popped it.  Keep in mind that if you wanted to do something like this you would also need to embed title and body into the query string if you needed tho

[2015-05-21 14:59] chad112 commented on #124
Thanks for the reply! I got it working.. i appreciate the help :)

Chad

[2015-05-22 16:55] deantomasevic commented on #77
Same here.
All is in blue.

It works after i refresh the site and create a new toast.

[2015-05-22 17:41] #124 closed

[2015-05-25 01:50] germanger opened #125 "Question: Is it possible to disable animations so that angular-animate is not required?"
Can I somehow disable animations so that I dont require to inject angular-animate in my module?

[2015-05-25 12:39] jirikavi commented on #125
Hi, this is not currently possible.

[2015-05-25 12:45] miro commented on #77
Same problem here, all the toasts work fine besides the type parameter has no effect on them; all are rendered with the "toast-info" -class. It doesn't matter if I pass the parameters inside an object or as strings.

My app is fairly simple, and it is based on [this boilerplate](https://github.com/jakemmarsh/angularjs-gulp-browserify-boilerplate), so I load Toaster through browserify.

This seems

[2015-05-25 12:56] miro commented on #77
Actually with some fiddling around I managed to solve the issue on my own case, not sure if I was misusing the Toaster or what, but:

I'm using the ui-router, and I placed the toaster-container like this:

      <toaster-container></toaster-container>
      <div ui-view class="container-fluid"></div>

Moving the `toaster-container` inside `ui-view` fixed the issue.

[2015-05-25 13:19] irongomme commented on #77
Thanks @miro

This makes me realize that i had duplicates toaster-container, and this was the reason for this bug for me !

[2015-05-27 08:08] germanger commented on #125
Do you think it would be too difficult to implement this?
Like this module: `angular-growl-2` https://github.com/JanStevens/angular-growl-2

In which:
If the application has injected `ngAnimate`, then the notifications are shown/hidden with animations
If the application doesn`t inject `ngAnimate`, the notifications are simply shown/hidden without animations

[2015-05-27 20:15] Stabzs commented on #125
No, this is not difficult to implement whatsoever.  However, it is a very fundamental shift in perspective towards the importance of animations in the library.  As it stands now, ngAnimate is an explicitly required dependency for the library to function correctly and it tells the consumer exactly what is needed in order to work properly.  If this change were made, it would be up to the end user to

[2015-05-27 23:44] germanger commented on #125
I think it gives a plus to the project, like: "if you want animations inject ngAnimate, if not, don't inject it"

[2015-05-28 06:35] jirikavi commented on #125
That is a nice feature so if you have time to create a pull request then I will merge it.
Jiri.

[2015-05-28 16:14] Stabzs commented on #125
@jirikavi @germanger Done.  Documentation has been updated in the pull request to reflect the changes.

[2015-05-29 00:15] germanger commented on #125
Nice!

[2015-05-29 15:39] kyrstenkelly commented on #61
+1, this would be really useful.

[2015-05-31 17:08] Stabzs commented on #122
@maybeswap @jirikavi can we verify this fixed as of 0.4.14 and close please?

[2015-05-31 18:38] #122 closed

[2015-06-04 00:32] germanger commented on #125
is this change going to be accepted?

[2015-06-05 06:48] DmitryEfimenko opened #129 "Allow Html in the Toaster message"
it'd be great if there was an option `html: true` to specify the the body is the html.

[2015-06-05 15:51] Avcajaraville commented on #72
I was having the same issue till I did scope.$apply around the toaster call.

Depends on your use case, it might help

[2015-06-05 17:20] specie opened #130 "conflict with angular bootstrap modal"
When injecting ui.boostrap and toaster, closing a modal dialog doesn't hide de backdrop.

[2015-06-05 17:45] Stabzs commented on #129
Does the following options configuration not already do what you need?

'body-output-type': '', // Options: '', 'trustedHtml', 'template', 'templateWithData'

I'd assume that for your case you'd simply use 'body-output-type': 'trustedHtml'.

[2015-06-05 17:46] Stabzs commented on #130
Can you add a small, complete repo?  This sounds like an issue within your modal code, not a conflict issue.  I've used toaster with ui.bootstrap without any conflicts.

[2015-06-05 17:54] DmitryEfimenko commented on #129
It certainly is what I need. However, it does not work. Here is what I tried:
[code]
or...
[code]
I still see the `<br />` in the toaster. Am I doing something wrong?

Also, the `Readme` probably should have better information regarding options available since there is no mention in there regarding `'body-output-type'`.
Thanks for info!

[2015-06-05 18:00] specie commented on #130
You're rigth, it was an error in my code, thank you!

[2015-06-05 18:00] #130 closed

[2015-06-05 18:00] Stabzs commented on #129
toaster.pop({
    type: 'success',
    body: 'We just sent you an email.<br />Please check your inbox.',
    bodyOutputType: 'trustedHtml'
});

Works correctly, particularly if you use two <br/> to really emphasize the spacing.  Make sure you don't have something cached in your code.

The second example is correct because the param key name is "bodyOutputType".  In the first example, that formatti

[2015-06-05 18:09] DmitryEfimenko commented on #129
I had a type. It works. Thanks for quick help!

[2015-06-05 18:09] #129 closed

[2015-06-08 13:02] MacKentoch opened #132 "Angular toaster appears twice when invoked from Angular Modal"
I use and abuse angular toaster since it is really **good looking** and **simple to manage**.

 - toasters related to main view behave the way they are supposed to behave (they disappear when their timeout is done)
   - these are the real toasters.

 - toasters (exact copy from previous) sticked to modal don't disappear from timeout (need to click).
   - these are wrong toasters, no need ones.

Bu

[2015-06-08 13:18] MacKentoch commented on #132
Ok I'll close this issue and post the reason (_maybe it will help someone not to loose time like me_).

As I said, this occurred in a an angular modal view.

The problem was

my calling view had already a toaster declared :

       <toaster-container  toaster-options="{
                                                 'position-class': 'toast-top-left',

[2015-06-08 13:18] #132 closed

[2015-06-09 05:54] Stabzs commented on #129
@DmitryEfimenko  I added documentation around bodyOutputType to help in the future :)

[2015-06-09 18:20] DmitryEfimenko commented on #129
Awesome!

[2015-06-11 07:07] ishaaggarwal opened #133 "Setting scope variable's value when a toast is clicked."
Can we modify or let's say just print any angular variable's value inside a toast body? Unable to find that in any doc.

[2015-06-11 11:11] #133 closed

[2015-06-15 06:07] ron51 opened #134 "whats the best way to limit the number of toasts to show?"
If I have 10 toasts and have to show only 5 at a time or 2 at a time, what's the best way to handle this situation? Can we do this with the current library?

[2015-06-16 03:33] Stabzs commented on #134
It depends on what you mean by "5 at a time".  If you mean, always limit the number of toasts shown regardless of the number fired, yes, the 'limit' config option will do that.  if you mean queue up the remaining messages and then display them after the original set times out, no, I don't believe that is implemented.  Although if you simply wanted to do that, you could implement your own queue str

[2015-06-16 06:00] ron51 commented on #134
I am looking to have a toaster queue as you mentioned in the second option. Instead of $timeout we can even listen to toastr.options.onHidden = function() { console.log('goodbye'); }  callback function and then handle the display toasts accordingly.

Thanks for the help!!!

[2015-06-16 17:04] ZuBB opened #135 "question: could you provide an example what 'icon-class' option does?"

[2015-06-16 21:30] Stabzs commented on #135
The icon-class is actually very simple..

In toaster.css, you'll find classes declared like so:

[code]
which correlate to types (such as info, success, warning, etc).

The `icon-class` config option allows you to specify what the default type is in case you do not provide a type.

For example, if I create a toast like so:

[code]
and my icon-class is set to `'icon-class': 'toast-info',` (which is

[2015-06-16 21:48] ZuBB commented on #135
Hi @Stabzs!

Thanks a lot for quick and detailed response. Have 2 questions. (a)

could you please also provide an example for this option?

(b) In my project I need to use same styling (any of predefined does not fit me) for all toast messages but icons should be different. Do you have any hints/ideas how to do that in short and nice way?

Again, thanks a lot for your help

[2015-06-16 23:52] Stabzs commented on #135
@ZuBB  Your best bet is to add your own stylesheet with custom icon classes that look something like the following:

[code]

Then, map your new custom classes in the `<toaster-container />` directive

[code]

I do not believe there is a currently any functionality to set JUST the background image per type, so overriding the actual class per type is probably the most elegant and controlled way to a

[2015-06-17 04:26] ZuBB commented on #135
How about adding new types?
On Jun 17, 2015 02:52, "Stabzs" <notifications@github.com> wrote:

[2015-06-17 04:35] ZuBB commented on #135
Is it possible to do that "mapping" via JS instead of putting it into html?
On Jun 17, 2015 02:52, "Stabzs" <notifications@github.com> wrote:

[2015-06-17 04:42] Stabzs commented on #135
If you wanted to modify the source, yes, you could add the mapping via JS instead of html.  However, that is not how the directive was intended to work.  And you certainly cannot provide those mappings on a per toast basis via `pop()`.

[2015-06-20 22:52] Stabzs commented on #135
@ZuBB  since this isn't an issue but rather a question, can it be closed please?

[2015-06-20 23:02] Stabzs commented on #120
@rotembo are you able to provide a quick repo showing what you are experiencing?  It's not clear from your question.

[2015-06-23 05:34] #135 closed

[2015-06-25 05:58] jasonshark opened #137 "control speed of fade"
Are there controls for how fast the toast notification fadesIn and fadeOut?

[2015-06-25 08:22] jirikavi commented on #137
Hi,

you can rewrite css definition of transition in toaster.css file, or overwrite it in your custom css file.

Jiri.

[2015-06-25 08:22] #137 closed

[2015-06-25 10:59] kroshner opened #138 "Separate logic for clicking toast body and close button"
Hi!
`isCloseButton` parameter is not being passed into `clickHandler` function which means we can't create separate logic for clicking close button or toast body. Would be great to have that functionality!
[code]
I believe this can be easiliy achieved by calling `clickHandler` in new way:
[code]
Cheers!

[2015-06-25 14:53] jasonshark commented on #137
Got it

[2015-06-26 14:43] Stabzs commented on #138
@kroshner This has been merged into the build.  Can you please verify the fix and close if resolved?

[2015-06-26 14:43] Stabzs commented on #134
@ron51 This has been merged into the build.  Can you please verify the fix and close if resolved?

[2015-06-26 14:43] Stabzs commented on #125
@germanger  This has been merged into the build.  Can you please verify the fix and close if resolved?

[2015-06-27 19:26] germanger commented on #125
Ok, I will try it :)

[2015-06-28 04:07] Stabzs commented on #125
It was updated, under the Animations section at the end of the README.  Please let me know if it isn't clear enough :)

[2015-06-29 19:59] #134 closed

[2015-06-29 19:59] #138 closed

[2015-06-29 20:33] Stabzs commented on #96
This was fixed with the merge from PR #97.

[2015-06-29 20:33] #96 closed

[2015-06-30 01:44] #120 closed

[2015-06-30 01:47] #87 closed

[2015-06-30 02:17] Stabzs commented on #72
@deborasetton Your problem (while perhaps related to the other reported issues), is unique because of how and when you are calling the toast.  By invoking toaster off of window (not $window, mind you), you are firing events that will add the toast instance to scope.toasters = []; internally, but angular is not aware that a digest cycle has occurred and that it is now responsible for updating appro

[2015-06-30 02:19] Stabzs commented on #72
@minirobotdan  Would you be able to put together a small repo that demonstrates your use case?  Thank you!

[2015-06-30 02:22] Stabzs commented on #72
@jeffreynolte The reason that the alt repo works in your use case is because they explicitly call $animate, rather than allowing the applied css3 transitions to work on their own, which is one of the major features of this particular implementation. As a result, it will always apply the appropriate digest cycle, even in your case.  If you could please create and provide a small repo describing you

[2015-06-30 13:19] deborasetton commented on #72
@Stabzs Thanks for the reply! I ended up using `$timeout` indeed, but I wasn't sure _why_ that worked, so thanks for the explanation.

I'm not sure about the other cases described above but, as far as I'm concerned, feel free to close the issue.

[2015-07-01 13:35] Stabzs commented on #72
@deborasetton Thanks for the quick response!  I was happy to give a quick explanation and I'm glad that that explanation was consistent with your solution.

If no additional details are reported on this issue, I'll close it.  Thanks.

[2015-07-01 13:44] #125 closed

[2015-07-01 13:46] Stabzs commented on #62
@foobar8675 Is this still an issue or did you receive the information that you needed?  Thanks.

[2015-07-01 13:51] Stabzs commented on #62
@mohdsanadzakirizvi This is a separate issue but I'm happy to give a quick snippet.

You can use something like what geekuillaume provided in a custom css file to provide your own transition times.  As for positioning, you would want to also provide a custom position-class class in your css and use it in your configuration options.  Please note that this applies to all toasts and is not configurab

[2015-07-01 14:10] germanger commented on #125
Thanks a lot, it works like a charm.
I finally don't need ngAnimate any more! which was making other libraries (`ng-grid`) work with bugs.

Also bootstrap-ui modals now close faster without that dumb fade out.

[2015-07-01 14:11] Stabzs commented on #125
@germanger Glad it worked for you!  I closed the issue since it appeared that the only outstanding potential questions were around documentation, but thank you for the confirmation.

[2015-07-01 14:13] #62 closed

[2015-07-02 13:46] INGCRENGIFO opened #140 "problem with toast"
The message of toast always appears on the right and not the left as shown in the documentation, I have code like the example given, that I missing?
http://subefotos.com/ver/?2d374c855acea1bf04f275b0ce52ecf5o.png

[2015-07-02 13:49] Stabzs commented on #140
Can you please create a small PoC illustrating this problem?  It looks like a styling issue.  Are you applying any custom layouts or styles?

[2015-07-02 14:14] INGCRENGIFO commented on #140
no, use the original css, I make no change
"HTML"
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
"JS"
toaster.success({title: "title", body:"text1"});

[2015-07-02 14:43] Stabzs commented on #140
Using the supplied toaster-container and js call, I cannot reproduce this issue.  What browser is this in?   Can you provide a full gist example of all the code required to reproduce this issue?  In addition, please make sure that you do not have a caching issue.

[2015-07-02 14:53] INGCRENGIFO commented on #140
I did hesitate, that has to do the caching? I keep it in a local data storage token, it affects something?

[2015-07-02 14:55] Stabzs commented on #140
You may need to clear your browser's cache if you've made changes. And no, local storage should not cause something like this.

 That said, there's no way for me to currently reproduce this issue with what you've shown.  Please create a gist https://gist.github.com/ of the pertinent code that demonstrates this issue.

[2015-07-02 15:02] INGCRENGIFO commented on #140
https://gist.github.com/INGCRENGIFO/4b54752acc4a190cf49c

[2015-07-02 15:03] INGCRENGIFO commented on #140
the code is large and fails if I stick, and if I give access to my desk to see everything working ??

[2015-07-02 15:54] Stabzs commented on #140
I don't need all your code, I only need a small sample that illustrates the problem you've described.  At this point it looks like a configuration or styling issue, not an issue with the library itself.

[2015-07-02 16:02] INGCRENGIFO commented on #140
and I've pasted the code that you request, you can check, but I'm not wearing styles, use the same library

[2015-07-02 16:14] Stabzs commented on #140
This is not a reproducible sample however.  I can't paste this into a file and create a reproducible example with what you've shown.

[2015-07-02 16:17] INGCRENGIFO commented on #140
why? I miss me? I'm reviewing and appears to have an error materializecss compatibility library, do not know how to avoid that.

[2015-07-02 16:33] INGCRENGIFO commented on #140
effectively substantiate that materializecss library causes the problem, delete the css of that library all "toast" and worked, and unfortunately will not be able to use the CDN.

You know what the difference between
https://github.com/jirikavi/AngularJS-Toaster
and
https://github.com/Foxandxss/angular-toastr
and
https://github.com/CodeSeven/toastr

I see the same

[2015-07-02 16:44] Stabzs commented on #140
Glad to hear that you found your issue.

https://github.com/jirikavi/AngularJS-Toaster (this repository) is an AngularJS port of https://github.com/CodeSeven/toastr that has continued to grow in it's own way.  Foxandxss is another AngularJS port of the CodeSeven toastr library that has gone a different route.  Since it seems like this is not an issue with this library, I'm closing this issue.

[2015-07-02 16:44] #140 closed

[2015-07-02 16:45] INGCRENGIFO commented on #140
Thank You So Much

[2015-07-10 15:32] BannedForLife opened #141 "Compile a directive in the toast"
Is it possible to compile a directive inside the toaster. I have tried using $sce.trustAsHtml() but it does not render.

[2015-07-10 19:40] Stabzs commented on #141
Are you able to provide a small plunker demonstrating what you are trying to accomplish and in what way it is not working?  It would be very helpful.  Thanks!

[2015-07-13 09:27] BannedForLife commented on #141
I cannot seem to get the plunker working, but this should illustrate what I am trying to achieve:  http://plnkr.co/edit/oF2VWcUfbhf3OJRXvhwW?p=preview

[2015-07-14 02:09] Stabzs commented on #141
I've added an option that should work for what you were trying to accomplish, along with documentation in the README.  Thanks.

[2015-07-14 17:52] #72 closed

[2015-07-19 18:22] #141 closed

[2015-07-22 22:05] cvaught001 opened #144 "Icon-class will not change"
Had a few minutes to look at this today.  'icon-class': will not change.
 toaster.pop(  {
                            type: 'info',
                            title: 'No Data In Range',
                            body: 'The date range you selected, returns no recordset.',
                            show
});
    type: 'info',
I can see the toast.type change my Parameter in the console.log

It al

[2015-07-23 03:42] Stabzs commented on #144
I don't believe that this is actually a bug, but rather a "feature", if you will.  It was implemented at least back as far as version 0.4.2 and is probably an original port from toastr, since that is a toastr feature.

Currently, it works as a fallback.  If the type is not found in the icon-classes array, icon-class is the fallback type, which per the config is always 'info'.

On the other hand, i

[2015-07-23 15:21] cvaught001 commented on #144
Thanks Stabzs.. The functionality shown in #61 is highly desire able and should be part of this project.

[2015-07-23 15:40] cvaught001 commented on #61
Noticed the same thing this morning. Stubborn Angular

[2015-07-23 15:46] Stabzs commented on #144
Closing this as a duplicate of #61.

[2015-07-23 15:46] #144 closed

[2015-07-29 07:19] shaltie opened #145 "Load toaster in factory"
Hello
Is there any way to load toaster in factory?

I do:
app.factory('GetData', ['$http', '$q', '$rootScope', '$location', 'toaster',
	function($http, $q, $rootScope, $location, toaster) {
        ...
}
And I have an error;
Error: [$injector:unpr] Unknown provider: toasterProvider <- toaster <- GetData

In controllers works good.

[2015-07-29 20:15] Stabzs commented on #145
You probably have a registration within your app module.  There is no reason why you would not be able to inject toaster into a factory.

Your app declaration should look like the following:

[code]

[2015-07-30 20:20] ybrodsky commented on #145
I am having a similar issue

[code]
I get no error, but the toaster never appears

[2015-07-30 23:18] Stabzs commented on #145
@ybrodsky  This isn't an issue with the toaster library, but rather a timing issue directly related to when `.run()` is called.

You can think of `.run()` as something similar to a `main` method or entrance point in an AngularJS application.  It's called after `.config` and before directive compile functions, the main app controller, and directive link functions.

As a result, if you are trying to

[2015-07-31 14:47] ybrodsky commented on #145
@Stabzs thanks for the reply.
What you say makes sense, but how come there's no warning or crash since I am trying to use a directive that's not yet loaded? Besides, if this were the case, it would simply not work and as I mentioned, the toaster inside the callback does show. Another thing I did, was to put a delay before firing the toaster, enough time for the whole app to load. Again, the same p

[2015-07-31 17:07] Stabzs commented on #145
@ybrodsky There's no warning since all that pop does is fire off an event.  The event is fired, but the directive is not yet loaded to actually receive the event.  As a result, there's no error but there's also no toast.

Now, as for the callback, that's wrapped in a timeout of sorts and I believe it's occurring in a separate digest cycle, although I haven't actually confirmed this fact.  My best

[2015-07-31 18:16] ybrodsky commented on #145
@Stabzs I see. Well, thanks for the help and the explanation.

Regards.

[2015-07-31 20:16] #145 closed

[2015-08-20 06:12] Muthamizhan opened #146 "Is it possible to assign order which should show first??"

[2015-08-20 12:15] Stabzs commented on #146
Typically the way to "assign" order is to order your toast calls, since it follows a First In First Out approach.  Is this not working as intended for you?

[2015-08-21 08:02] Muthamizhan commented on #146
Yeah its Working fine,i just re ordered the array before passing into toaster,

   $scope.flash = flash_msg.reverse();
  $scope.priority = {
      1: "info",
      2: "success",
      3: "warning",
      4: "error"
    };
   angular.forEach($scope.flash, function(value, key) {
      var sticky = 10000;
      toaster.pop($scope.priority[value.Priority], value.title, value.Message, sticky);
    });

[2015-08-21 16:10] Stabzs commented on #146
Looks about right.  Glad you got it working :)

[2015-08-21 16:10] #146 closed

[2015-08-23 12:56] eskobaba opened #147 "Possible to use pascalprecht.translate with toaster?"
I'm trying to figure out if would be possible to have the subject/title of the popup translated? I am using pascalprecht.translate atm.

I tried with 'trustedHtml' and using e.g span translate=some.thing /span which does not work. Any help appreciated.

[2015-08-23 14:57] Stabzs commented on #147
I don't know that library but it seems doable. Can you create a plunker of what you've tried so far that isn't working?

[2015-08-23 19:01] eskobaba commented on #147
Sorry for bothering you before studying the other libs docs properly, the solution was pretty simple
body: $translate.instant('translation.ID'),

Thanks!

[2015-08-23 19:01] #147 closed

[2015-08-23 21:09] vasyldemchuk opened #148 "prevent-duplicates option does not work for list of toasters"
Hi,
I have faced the problem when I have list of toasters and I need to prevent duplicates.
Unfortunately it does not work now as it always checks only the latest item in array (see attached photo)
![image](https://cloud.githubusercontent.com/assets/12528341/9430169/b7c086d2-49f3-11e5-8035-f944c50e948a.png)

Instead of checking only the latest item it should loop the whole array. Does not it?
Plea

[2015-08-24 15:06] Stabzs commented on #148
This is not necessarily a defect.  If you look at the toastr library, https://github.com/CodeSeven/toastr/blob/master/toastr.js, which is what AngularJS-Toaster was ported from, the functionality is identical.  preventDuplicates does not prevent ANY duplication in the toast array, but rather just the last toast (useful for accidental double firing from double-clicking, etc).

If this is a needed f

[2015-08-24 15:18] vasyldemchuk commented on #148
I do not think this is going to destroy something in original functionality. Instead of simple checking the latest  toaster it could loop the whole array. It will allow to keep existing functionality and expand it for new purpose (as you called it - prevent-any-duplicates).
See suggested pull request (https://github.com/jirikavi/AngularJS-Toaster/pull/149)
I still believe it can be done inside one

[2015-08-24 15:27] Stabzs commented on #148
The original functionality explicitly did not check the entire array however, so the intent of the library WOULD mutate.  I'm not arguing that this is a bad change; in fact, it would probably be useful.  However, it is a very conscientious move from the original functionality of the library and it's predecessor and the impacts of that should be very clear before proceeding.

[2015-08-24 15:46] vasyldemchuk commented on #148
Is this library so tied to original one? I thought this is absolutely another, just similar library.

Let me explain the reason why I am asking about these changes.
I have the situation when I need to display several alerts (depends on some rules) using body-output-type: 'templateWithData'.
Template contains two buttons, say "Allow" and "Deny".
For instance, we have two alerts with two buttons ins

[2015-08-27 08:23] vasyldemchuk commented on #148
Any updates? Is it going to be released soon?

[2015-09-01 13:27] yangboz opened #150 "While "toaster.pop()" standalone inside TabView based can't display,while after $ionicActionSheet.show() or $ionicLoading.show() is showing."
While "toaster.pop()" standalone inside TabView based can't display,while after  $ionicActionSheet.show() or $ionicLoading.show() is showing.

Version info:
AngularJS: 1.2.28;
Angular-Animate: 1.3.3
Angular-toaster:0.4.15

Code info:

[code]
[code]

Best,
Yangbo

[2015-09-01 14:23] Stabzs commented on #148
Since no-one has raised any additional concerns, it seems like this is a reasonable change to make.  If someone down the road does not want full-array duplication checks, an optional flag can be added to distinguish behaviors, as I mentioned above.

Your merge request is missing the minified javascript.  Please minify and I'll approve the merge request.

[2015-09-01 14:24] Stabzs commented on #150
There are a lot of third party dependencies that could be involved here.  Can you please provide a plunker or a jsfiddle that demonstrates the issue?

[2015-09-02 01:40] yangboz commented on #150
Also I have used this toaster inside  a Ionic Mobile project(tab view based), and the $ionicLoading.show() always working.  I have tried put the "<toaster-container" inside a tab, the position-class(toast-top-center)  with  wrong result at the tab bottom :-(

[2015-09-02 02:14] Stabzs commented on #150
Once again, without a fiddle or a plunker it's incredibly difficult to identify where the breakdown is occurring. Are you able to provide a small, complete example reproducing the issue?

[2015-09-02 02:27] yangboz commented on #150
Sorry, this is big Ionic TabView based code base, as a workaround, I just flashing ''' $ionicLoading.show({ noBackdrop: true, duration: 1000 });''',  then the toaster also showed.

[2015-09-02 13:55] Stabzs commented on #150
It sounds like ionic is pausing the digest cycle (or not executing one at all until you call show) and if that's the case, the toaster event will never get picked up.  I don't believe this is a bug with toaster, but rather an issue in how you are consuming it.

[2015-09-07 03:37] #150 closed

[2015-09-23 08:05] KimSunWook commented on #77
Very Good! I solved this problem! Thanks @miro !

<body ng-app="MyApp" controller="MyCtrl" class="...">
   <ion-nav-view class=""></ion-nav-view>
   <toaster-container></toaster-container>
</body>

[2015-10-02 08:57] ZSnake opened #151 "Close button error on read me."
Hey guys, on your read.me you explain that to configure the close button globally you can use
`<toaster-container toaster-options="'close-button': true"></toaster-container>`

But that gave me the following error
`Error: [$parse:syntax] Syntax Error: Token ':' is an unexpected token at column 15 of the expression ['close-button': true] starting at [: true].
http://errors.angularjs.org/1.4.7/$parse

[2015-10-02 15:08] Stabzs commented on #151
Whoops! The documentation actually has a small typo for the first close-button configuration (applying one configuration for all types) as opposed to the second example where behavior is being applied per toast type.

It SHOULD read:

`<toaster-container toaster-options="{'close-button': true}"></toaster-container>`

since options is an object.  I'll update the documentation.  Thank you for pointi

[2015-10-02 15:15] Stabzs commented on #151
This has been fixed in pull request #152.  There was an additional error in the documentation that would have caused the same behavior.  Thank you again for pointing it out.

[2015-10-02 15:15] #151 closed

[2015-10-05 23:02] azaslavsky opened #153 "Pass data to directive?"
Would it be possible to add functionality to somehow pass data to the directive when `bodyOutputType: "directive"`?

[2015-10-06 03:52] Stabzs commented on #153
How would you expect this to work?  How would you control the data flow? Where would data come from and why would the toast own that data in the first place?

Personally, I think it would be far better to use a shared service between code that fires the toast and your target directive.  This seems like it would place control in the proper place, the directive, and allow it to "pull" what it needs

[2015-10-08 08:41] fercreek opened #154 "Toaster doesn't work with nested views (ui.router)"
I have a problem with my toaster, when i go to the parent view, the toaster disappears immediately.

[code]
This is my partial solution, but i need to show my toaster in her parent too. Here I show the toaster, and after that the toaster is fade out, the callback go to my parent view.
[code]
Sorry for not putting the code in gist, In This case copy paste was faster.
[code]

[2015-10-08 15:19] Stabzs commented on #154
You haven't included your `<toaster-container></toaster-container>`, but I suspect from the behavior you are seeing that your container element is living inside html that is being modified by state changes.  You should use one container, placed outside html that is affected by your router.

[2015-10-12 03:34] kyawmyintthein opened #155 "Can I add custom image to toaster?"

[2015-10-12 18:41] Stabzs commented on #155
You can provide your image in your own template using the BodyOutputType: template option

[2015-10-12 18:49] azaslavsky commented on #153
Ok, I have a notification directive which seeks to render the following:

"Hi, {username}, welcome to my app!"

Usually, I would make a template with `{{username}}` somewhere inside of it, then pass the username property to my directive scope when I initialize it.  As of now, that workflow is not possible, because I cannot pass data into the directive scope, which is how almost every other directi

[2015-10-13 01:36] kyawmyintthein commented on #155
thanks @Stabzs  I will add custom image by using bodyOutputType: 'trustedHtml'.

[2015-10-13 01:36] #155 closed

[2015-10-20 19:57] #154 closed

[2015-10-21 11:29] fercreek commented on #154
Thanks :D that's was the problem, excuse me for not answering soon.

[2015-10-21 16:14] Stabzs commented on #154
Perfect!

[2015-10-21 22:35] paulserikov opened #156 "Significant delay or non-appearing toasts"
Hi everyone,
I need that toast appears in onmessage() method.

Here is my code:

[code]

When i call toast by pressing button on page - everything is ok, toast appeared every time without delay. But when I call toast by sending message through websocket -toast is appearing with significant delay or event doesn't appear yet.

Is it a bug or I'm doing something wrong?

[2015-10-21 22:56] Stabzs commented on #156
By calling $scope.pop inside of your websocket handler, you are travelling outside of AngularJS' scope and the UI will not update.

For this type of behavior, you have to manually call `$scope.apply()`.

[code]

[2015-10-21 23:37] paulserikov commented on #156
Got it, thanks.
You just misspelled, it should be `$scope.$apply()`

[2015-10-21 23:40] Stabzs commented on #156
You're absolutely correct.  Too quick of a reply.  I've updated my comment and I've closed the issue.  Thanks!

[2015-10-21 23:40] #156 closed

[2015-10-23 05:59] Stabzs commented on #153
This feature has been added and merged, as well as some other useful error-checking enhancements for directiveTemplate.  Whatever data you pass in will be bound to `scope.directiveData` inside of the rendered template.

[2015-10-23 06:15] Stabzs commented on #86
Significant documentation examples have been added since this was originally opened.  If there is a specific documentation example that would be useful, please feel free to open a new request and I'll be happy to add it :).

[2015-10-23 06:15] #86 closed

[2015-10-23 06:15] #105 closed

[2015-10-23 06:16] #148 closed

[2015-10-23 06:19] Stabzs commented on #77
This seems wholly related to either multiple toast-containers or placing the toast-container at the wrong level.  For future reporting of this issue, please provide a complete plunkr or jsfiddle as a new issue.

[2015-10-23 06:19] #77 closed

[2015-10-23 17:38] azaslavsky commented on #153
Thank you!

[2015-10-23 18:50] brunomperes commented on #86
Awesome! :)

[2015-10-26 16:40] ctysingh opened #158 "adding OK button"
How can I add OK button instead of cross option

[2015-10-28 02:38] Stabzs commented on #158
You cannot currently replace the closing x.  What functionality would the Ok (or any other button) provide that you do not already have?

[2015-10-28 02:47] Stabzs commented on #153
You're welcome!

[2015-10-28 02:47] #153 closed

[2015-10-28 04:08] ctysingh commented on #158
It has more to to with look and feel instead of functionality.I saw this with original toastr library.

[2015-10-30 05:22] rdheepan opened #159 "body output type - directive is not working"
I am trying to create toaster pop-up using directive and it's not showing the directive data. Instead it just show the directive name. Take a look this [Plunker](http://plnkr.co/edit/V6vybEIek15ybVsYcF3P?p=preview).

[2015-10-30 14:13] Stabzs commented on #159
Very simply, you are using the release tagged version of toaster, 0.4.15.  The directive body type was added after 0.4.15.

I have created a new release: https://github.com/jirikavi/AngularJS-Toaster/releases/tag/0.4.16 so that you can use a properly tagged release with the new directive functionality.

Thanks!

[2015-10-30 22:48] #159 closed

[2015-10-31 12:43] maxdow opened #162 "Propose version bump"
Since the current release can be considered as stable why do not use a 1.x version ?

[2015-11-04 21:50] brentahiti opened #163 "Attach bidirectional data to template"
I'm trying to implement a feature where I would need bidirectional data attached to the template.

As for now, the directive uses '@' for directiveData and I'm not sure how to use 'templateWithData' bodyOutputType. It awaits an expression which looks into the scope. I would have thought that some data could be passed to the template with that option.

Am I missing something?

[2015-11-04 22:49] Stabzs commented on #163
I would be extremely cautious about binding bidirectional data to a toast template.  Toasts should not contain large amounts of business logic but should rather be informative in nature.

By design, the directive bodyType is designed to be a one way channel between the parent that pops the toast (with the corresponding data) and the customized directive that is compiled by directiveTemplate and su

[2015-11-05 00:08] brentahiti commented on #163
This is what I'm trying to do (simplified):
http://plnkr.co/edit/sXCOkvX1fpPFC5lv8puB

[2015-11-05 01:40] Stabzs commented on #163
Whenever you are sharing state like this, it is usually best to use events (see my very quick, primitive example http://plnkr.co/edit/RLA0qBb4FGGgXu0lvvGn?p=preview), $watch on the parent, or $watch via a shared service.  Allowing the directive access to your parent would probably be inadvisable behavior (not to mention not possible by design).

[2015-11-05 19:35] brentahiti commented on #163
reading the code a little bit more makes me realize the toaster-container isn't intended to be global. any design insights on this?

[2015-11-05 19:54] Stabzs commented on #163
I did not write the toast-container and there have been several revisions since it was originally written that have continuously redefined it's functionality.  That said, I think that the correct approach is to not globally expose the inner workings of the toast-container but rather expose a concrete API that allows for clear and consistent behavior.  I am not advocating that the current API handl

[2015-11-05 22:29] brentahiti commented on #163
Since a toast's behavior is imo somewhat global, I was trying to use it as so. But in this implementation, toasts are meant to be used locally on the scopes you want to use them. I find it a little bit counter intuitive, but maybe it is just me.

I'm not asking for any added behavior, but just wondering why it was done like that. I used one of the solutions you provided earlier btw. Thanks for hel

[2015-11-06 06:27] Stabzs commented on #163
I understand where you're coming from :).  I think the approach as a whole has to been to provide only what is needed rather than providing everything that is available.

Happy to help.

[2015-11-06 06:27] #163 closed

[2015-11-08 01:43] Stabzs commented on #158
Please see if this satisfies what you were looking for.

[2015-11-08 01:46] Stabzs commented on #162
Great point, thanks!  I've added a close html option just now.  If no additional bugs are reported on that functionality in the near future, I'll bump the library to a 1.0.0 baseline release and going forward the library will rely on proper [semantic version](http://semver.org/).

[2015-11-08 09:37] maxdow commented on #162
I think it could also attract more users :)

[2015-11-08 16:37] Stabzs commented on #162
Another great point :+1:  Along those lines, creating proper test coverage and setting up CI/Test coverage integration with the library will also make the library more popular, attract more users, and move it forward.  So I think this complements the efforts there nicely :).

[2015-11-09 15:01] saadshahd opened #166 "Feature: Setting default message for specific type"
Hi,

I noticed that this snippet is repeated a lot in my app:
[code]

So it would be better if I could set default message for the type `error`

[2015-11-09 16:14] Stabzs commented on #166
I'm not certain that I agree.  How would the toaster API handle a default error message and how would it determine when to call it?  The only thing I can think of off the top of my head is by adding a configurable option that allows you to set a default message that would be used in the case of a message argument not being added for that type.

That said, I am still not convinced that that is an i

[2015-11-09 20:18] saadshahd commented on #166
I imagined it to be like this

at the views:
`<toaster-container toaster-options="toasterOptions"></toaster-container>`

and controllers:
[code]

[2015-11-10 04:50] Stabzs commented on #166
Agreed, the configuration would be something like your example above (although personally I would recommend against using default $rootScoped objects for your configuration).

That said, the interaction with the API is still a bit confusing and misleading, not to mention it delegates a lot of responsibility to the library.  Based on your above example, would the default be called for whitespace?

[2015-11-10 10:56] saadshahd commented on #166
Thanks for replying,
What do you recommend to use for configuration instead of rootScope ?

The feature does not have to work if passed message was not a falsy value.
I was trying to get into the toaster.js core to come with PR but I got confused about bodyTemplates.

What I imagined to be in toaster.js end `message = title || message ? message : defaultMessages[type] `

I will think about wrappin

[2015-11-10 17:24] Stabzs commented on #166
It is always ideal to inject as close to the directive's scope as possible, which is typically inline (in your html).  It is also very transparent that you are overriding the default configuration.  However, if you did need to share the same configuration across multiple toaster container instances, a common scope would be best.

To elaborate a bit more on my example, think of the following scenar

[2015-11-10 19:45] #158 closed

[2015-11-13 04:22] #166 closed

[2015-11-13 05:56] ompanda opened #168 "Toaster Message is displayed after clicking on some controls in page"
I am adding a toaster for page. The desired behavior is it should be displayed immediately. But the toaster message is displayed once i click on some controls in that page. I am not using any delay in toaster configuration. It seems an issue with browser event loop. I have tested this in chrome not in other browsers.

[2015-11-13 07:32] Stabzs commented on #168
Most likely you are triggering your toast outside of an angular digest cycle, which is not a bug but normal behavior for angular.

Please post a link to a jsfiddle or plunker of what you have tried and I will be happy to take a look.

[2015-11-13 15:49] ompanda commented on #168
Thanks for reply.You have a valid reason. but  i am not adding it outside of digest cycle. i have gone through toaster.js code but did not get anything what exactly causing this issue.

[2015-11-13 15:56] Stabzs commented on #168
There is nothing that WOULD cause the issue you're describing in the toaster code.  There have historically been two reasons for the type of behavior that you are describing:

1.  Your toaster-container is located inside of your ng-view, causing it to change between views, requiring a digest cycle to trigger an update.  I would advocate that in most instances the container should be placed higher

[2015-11-15 15:28] Stabzs opened #169 "Should display current code coverage in README and run CI on checkin/merge"
AngularJS-Toaster should be integrated with a CI server (Travis-CI, Coveralls.io) to ensure that all tests pass on checkins and merges, as well as display the current coverage level on the README.

It can only be done by the repository administrator.

[2015-11-15 15:32] Stabzs opened #170 "Add remaining missing test coverage"
Test coverage should be raised to 100% in preparation for a v1.0.0 release.

[2015-11-15 15:39] Stabzs commented on #34
@markbarton I know this is now an old issue, but I wanted to revisit it.

One of the features added in the last few releases is a callback function.  If you created a callback function with your unique identifier, would that be sufficient enough for your original needs without needing to propagate another ID through the toast stack?

[2015-11-17 00:55] natdico commented on #120
I am experiencing the same thing. I am catching responseError from an interceptor, and calling toaster.

[2015-11-17 03:57] #168 closed

[2015-11-17 03:58] Stabzs commented on #120
@natdico  please create a plunker or jsfiddle reproducing the problem and create a new issue for it.  Thanks.

[2015-11-17 05:39] ikr0m opened #171 "Customizable class per toaster popup."
I have set position class for all toaster popups
`<toaster-container toaster-options="{'position-class': 'toast-top-center'}"></toaster-container>`
[code]
It is working well. But I need custom class for one of my toaster popup. Because it has big text on it and I need to apply another css style.
[code]
How can I add `.features` class to toaster popup?

[2015-11-17 06:14] ikr0m commented on #171
I have done it by adding second toaster directive
[code]
Created popup by using toasterId and gave necessary styles to `toast-features` class. But still by adding this class to `pop` method options would be handful rather than creating another toaster directive.

Thanks.

[2015-11-17 06:14] #171 closed

[2015-11-17 15:13] Stabzs commented on #171
If you need to style only a few toasters, you should do so by providing a new toaster template in your pop method rather than creating a new toaster-container directive.  While this works, you are absolutely correct, it is far too much overhead for what you are trying to accomplish.

[2015-11-18 13:38] Nandabasu commented on #134
Hi,
I am using angular toaster to show warnings and errors. How can limit the toast messages to only "1".
Below is code

I am using toaster.min.js plugin
toaster.pop('', '', 'Select an answer');

Where and how can I limit toasters.
Any help will be appreciated

Thanks to all

[2015-11-19 19:45] Stabzs commented on #169
@jirikavi do you think this is one you'll be able to get to?

[2015-12-06 02:34] Stabzs commented on #169
@jirikavi bump.

[2015-12-06 22:00] jirikavi commented on #169
Sorry Stabz, I haven't had time to look at it. I will tomorrow. I think it can be a nice feature.

[2015-12-07 01:13] Stabzs commented on #169
Sounds great!!

[2015-12-07 09:50] jirikavi commented on #169
I added the configuration file but the build is failing because I need to add the testing files and spend little bit more time on it. I will try still at today evening.

[2015-12-07 22:25] Stabzs commented on #169
We can probably configure it to run the tests directly via karma without including gulp (although personally I don't mind if we use gulp to make local builds easier for automated minification :P).

`script: node_modules/karma/bin/karma start karma.coverage.js --single-run` might do the trick if we add it to the travis file.

[2015-12-07 22:38] jirikavi commented on #169
I succeeded with running the test scripts on my laptop but they are still failing on Travis. I have also problem to connect to the internet from home (internet connection at the area of London where I stay is not so stable). I will probably continue on it on Wednesday. If you have more experiences with the set up of these config files feel free to fix it :)

[2015-12-07 22:43] Stabzs commented on #169
I'm making progress in my branch so I'll continue to work on it :).  I think there's some issues with the karma configuration file so I'll get those fixed.  Thanks for adding it to the project!  I think that's the all the authorization needed to get it running.  I'll update this issue once progress is made one or the other :)

[2015-12-07 23:02] Stabzs commented on #169
Got it running, merged in and added a build logo.  Thanks for getting this set up!

[2015-12-07 23:02] #169 closed

[2015-12-08 19:34] Stabzs commented on #169
Coverage has been added via coveralls to the CI build.  Current thresholds are 95% coverage rate and coverage can decrease no more than 2%.  Should bump this up higher, but it seemed like a good place to start :).

[2015-12-08 20:15] jirikavi commented on #169
Great job done @Stabzs!

[2015-12-11 12:19] sevensix opened #177 "getting error -> toaster always shows up as "info"-Toast"
when i call the toaster, the toaster shows as info, no matter what type i am setting inside my controller.
the console shows an error too,(but this error only shows up when i set the closebutton to "true" or use the showCloseButton option in the controller):
[$sce:itype] Attempted to trust a non-string value in a content requiring a string: Context: html

any ideas what wnt wrong?
i am calling the

[2015-12-11 15:52] Stabzs commented on #177
Can you please provide a quick plunkr or jsfiddle demonstrating the problem?  I suspect it has very little to do with the toast type and more likely either an html parsing issue or a bad configuration.

[2015-12-13 03:47] linuxnerd opened #178 "Toaster doesn't work after $state.go"
I have a problem with my toaster. When I'm in my login template, toaster can popup some message normally.For example, I input the wrong password first.
[code]

and then, I input the correct password, so $state.go to the 'console.dashboard'.After that, my toaster  no longer work.

[2015-12-13 03:53] xoyljlj commented on #178
I met the same problem！！

[2015-12-13 04:35] Stabzs commented on #178
What do you mean by "no longer works"?  Does it not display?  Does it display incorrectly?

Thank you for the provided code, but are you also able to provide a plunkr or jsfiddle that reproduces the problem you are having?

Thanks!

[2015-12-13 04:53] linuxnerd commented on #178
"no longer works" means it doesn't display without any information in console.

And I resolved it.
my angular version is 1.4.7, and AngularJs-Toaster version is 0.4.10.
I upgrade AngularJs-Toaster to 0.4.18. it works
Thanks!

[2015-12-13 04:53] #178 closed

[2015-12-13 04:54] xoyljlj commented on #178
Thank you for your prompt reply

[2015-12-13 05:35] Stabzs commented on #178
Perfect, glad to hear that the behavior is correct in the latest version!

[2015-12-13 05:36] Stabzs commented on #177
Do you have an update on an example jsfiddle or plunkr?

[2015-12-13 10:59] leolux opened #179 "How to close all toasts at once?"
Sometimes the delay between new toasts is smaller than the duration the toast gets displayed. Is there a way to prevent toasts from stacking up?

[2015-12-13 11:01] leolux commented on #179
toaster.clear();

[2015-12-13 11:01] #179 closed

[2015-12-14 01:41] #170 closed

[2015-12-15 06:35] #177 closed

[2015-12-18 00:31] ekiziltas opened #181 "Toaster does appear twice when called from modal view."
Dear All, I have really hard issue about calling a toaster from ui-modal.That is, if you define toaster containers in both modal calling screen and ui-modal, then toaster popups appear twice, as it is detailed earlier with the issue number #132. However, toaster container should be capable of allowing toaster message to display only in the current active view (which is supposed to be in modal view

[2015-12-18 01:55] Stabzs commented on #181
If you insist on using two unique `toast-container` elements, you can (and in your case should) use unique toaster ids per container since that way you can deliberately target a container.

Now, that said, if you use the same 'animation' position, they'll simply layer over one another and then you'll be unable to see your second toasts.  However, based on what you've described, it sounds like you'

[2015-12-18 09:51] #181 closed

[2015-12-18 10:43] ekiziltas commented on #181
Works perfect. Thank you :+1:

[2015-12-18 16:15] Stabzs commented on #181
Happy to help!

[2015-12-22 18:19] nlitwin opened #182 ".bower.json"
I'm getting a `.bower.json` file that has a syntax error. I've run `rm -rf bower_components` and `bower install angularjs-toaster`multiple times, and I seem to always get a directory `AngularJS-Toaster` with no `toaster.js` files and a malformed `.bower.json` file. You can see the syntax error at the bottom, with no beginning `{` for `"_direct": true`:
[code]

I noticed as well that `bower.json` h

[2015-12-22 18:48] Stabzs commented on #182
I cannot reproduce what you are seeing.  My bower file is always properly formed.

What's interesting here is that the target is "~0.4.15".  Do you have a cached version?

Good observation on the bower file.  The version number wasn't properly bumped.

[2015-12-22 19:18] nlitwin commented on #182
`bower cache clean` did the trick! Thank you :)

[2015-12-22 20:17] Stabzs commented on #182
Perfect!  Glad that worked!  Again, great observation on the version.  I am planning on bumping the version to 1.0.0 as soon as I can document a few more of the API particulars and I'll make sure not to forget the bower file as well :)

[2015-12-22 20:17] #182 closed

[2016-01-05 16:49] briangullo commented on #73
This appears to still be a a problem for me.  I have the tried the following two ways:

 toaster.error('Title', 'This is a message');
 toaster.pop({type: 'error', title: 'error title', body: 'This is an error.'})

And both ways show me an info toast.

I'm using v0.4.16,
with the Angle-Template (latest version).

Thanks!
Brian

[2016-01-05 16:58] Stabzs commented on #73
@briangullo Do you have two instances of `<toaster-container></toaster-container>` without unique IDs?  That can cause the type of issue you are having.

If you could please create a plnkr or a jsfiddle that demonstrates the issue, I'd be happy to look at it.

[2016-01-05 17:43] briangullo commented on #73
Hi @Stabzs , thanks for responding so quickly. I put together a plunker.  I'm not sure how helpful it will be, because it is only a piece of a much larger application.  http://plnkr.co/edit/V4vuj5mBy4duyerlk23d?p=preview

Maybe you could give it a quick glance and see if there is anything obvious.

Also, I'm getting this error: [$sce:itype] Attempted to trust a non-string value in a content requir

[2016-01-05 17:49] Stabzs commented on #73
No problem, happy to take a look.

The plnkr you linked works just fine after I added an ng-controller reference to it: http://plnkr.co/edit/desZfldVJnTwvmWgEw1O?p=preview

I would check your application first to make sure that you are reusing the same toast container instances.  I would also make sure that you are always firing toast calls from within an Angular context, not from native DOM event

[2016-01-05 18:00] briangullo commented on #73
@Stabzs , Ok, thanks for the info, I will check it out and let you know what i find.

[2016-01-07 15:28] briangullo commented on #73
@Stabzs , just wanted to let you know, it was an issue with my routing.  The way I was combining the asp.net views and the angle routes was calling the same page twice.  Thanks!

[2016-01-07 16:29] Stabzs commented on #73
@briangullo Thanks for confirming! Glad to hear you were able to work it out.

[2016-01-08 21:43] rhsu opened #183 "Inconsistencies Between Firefox and Chrome on Error"
I have a page which calls an $http.post as such.

[code]

Under most circumstances, things load correctly and stuff happens there when successful...
However sometimes a user clicks out of this page and onto a different one within this application. This causes the $http.post to get cancled and not resolve successfully.

In chrome, I only get a console.log and no toast pops up.
However in Firefox, b

[2016-01-09 00:26] Stabzs commented on #183
Is the page change done via an Angular routing framework?  If so, you could probably handle something like this with route change events.

That said, this type of behavior is related to $http, not toaster.  If you are seeing inconsistencies between browsers, particularly when changing pages, you might be better off writing a $http interceptor that alerts your toast handler on success and does noth

[2016-01-10 23:47] #183 closed

[2016-01-12 03:09] ignacio-chiazzo commented on #73
There isn't a better solution to this Issue? I got the error "Error: [$sce:itype] Attempted to trust a non-string value in a content requiring a string: Context: html", because I have twice instance of toaster. How can I fix it? (other solution than name different toaster)

[2016-01-12 03:40] Stabzs commented on #73
@ignacio-chiazzo In either case, there isn't a bug.  It's a matter of using the correct APIs.

First off, if you are getting the error you reported, it is because you are attempting to inject an html template without using a bodyOutputType of "trustedHtml".  You can configure this as a global option per toast container or on a per toast basis, per the Body Output Type section of the README.

As fo

[2016-01-12 03:56] ignacio-chiazzo commented on #73
@Stabzs  Thanks for responding so quickly! Can you give an example how to work with two ids, ?

[2016-01-12 04:13] Stabzs commented on #73
@ignacio-chiazzo  my pleasure.

I created an example plnkr here: http://plnkr.co/edit/4ICtcrpTSoAB9Vo5bRvN?p=preview
for this closed issue: https://github.com/jirikavi/AngularJS-Toaster/issues/181.

It should give you exactly what you need for working with two unique container ids.

[2016-01-13 08:59] kfirufk opened #184 "toaster popup is not shown when executed from a javascript event"
Hello.

I created a directive that works with socket.io. once the user is connected or disconnected i use toaster to show relevant popups.

for some reason in the callbacks of that directive, when i execute toaster, it does now show the toaster popup. sometimes when i change view (using ng-view), means changing to a different page, then the toaster does show the connection status popup.

[code]

[2016-01-13 16:52] Stabzs commented on #184
Is your toaster-container positioned inside of an ng-view template (or multiple templates)?  I recommend positioning the toaster-container outside of any routing engine so that it is always available.

In addition, I don't know much about the Socket.IO wrapper you are using (https://github.com/btford/angular-socket-io is my guess), but if the on.connect callback doesn't trigger a digest cycle, you

[2016-01-14 07:22] Mr-Anonymous opened #185 "Toaster Showing 2 Icons"
Yesterday, I tried the Toaster plugin version 0.4.15 and everything worked fine. Today I updated the Toaster to version 0.4.18 and now I am getting 2 icons in toaster notifications. (Screenshot attached).

My Toaster directive is like this:
[code]
And my Toaster is called like this in controller:
[code]
<img width="301" alt="screen shot 2016-01-14 at 12 44 21 pm" src="https://cloud.githubuserconte

[2016-01-14 07:40] Mr-Anonymous commented on #185
Sorry, it wasnt due to the Toaster version. It turns out the theme I was using had its own overrides for the Toaster plugin which uses font-awesome icons instead of the default background image that comes with toaster css. Thats why I was seeing both the icons. I need to move the toaster css above my theme plugin so the toaster override worked.

[2016-01-14 07:40] #185 closed

[2016-01-14 08:19] kfirufk commented on #184
thank you so much for your response :+1:
toaster-container was positioned in the main template so this wasn't the case.
adding $timeout to the calls to toaster resolved the issue. yay!

[2016-01-14 08:19] #184 closed

[2016-01-14 17:05] Stabzs commented on #184
@kfirufk  My pleasure, glad that did the trick!

[2016-01-14 17:06] Stabzs commented on #185
@Mr-Anonymous There is an open issue that hopefully I'll be able to get to someday for native support for replacing icons, particularly with font-awesome icons.  That should alleviate some of these types of issues.  But yep, changing the stylesheet load order should do the trick in the meantime :)

[2016-01-16 19:53] matthieu-D commented on #73
This should be in the documentation.

[2016-01-16 22:54] Stabzs commented on #73
@matthieu-D Which part are you referring to?  IDs for toaster containers?  Thanks

[2016-01-18 03:08] matthieu-D commented on #73
Yes ids.

[2016-01-19 11:17] burakkilic opened #186 "I couldn't show toaster wit a directive"
Hello;

In my directive, I am using this code:

    app.directive('feedbackToasterTemplate', [function () {
      return {
          template: "<span style='color:orange'>New feedback from {{directiveData.name}}!</span>"
      };
    }])

and in controller:

    toaster.pop({
            type: 'success',
            title: gettext('Feedback'),
            body: "feedbackToasterTemplate",

[2016-01-19 17:58] Stabzs commented on #186
Your `body` argument is incorrect.  Instead of using the camelCased directive name, you should use it as it would appear in markup.

` body: "feedback-toaster-template",`

[2016-01-19 18:08] burakkilic commented on #186
Thank you very much. I think it should be mentioned in the tutorial.

[2016-01-19 18:08] #186 closed

[2016-01-19 18:09] Stabzs commented on #186
@burakkilic Agreed :).  I am explicitly calling this out in the documentation in a doc improvement that I am working on.

[2016-01-19 18:46] #162 closed

[2016-01-19 18:47] Stabzs commented on #73
@matthieu-D documentation has been added.  Please review it and let me know if anything is unclear.

[2016-01-19 20:19] Stabzs commented on #107
I wanted to return to this issue since it's related to two of the other open issues.

Since each toast container is registered independently of other toast containers, it would be difficult to ascertain the number of toasts that exist at a time, since you'd have to broadcast to all available toaster containers and wait for the responses and you wouldn't know if/when you could safely resolve those

[2016-01-19 23:40] matthieu-D commented on #73
Perfect.

[2016-01-20 09:27] maxdow commented on #162
npm updated

[2016-01-20 16:15] Stabzs commented on #162
@maxdow Thanks!

[2016-01-28 13:08] edenpessach commented on #61
+1
But make sure to enable users to choose the icon class from the container & toaster.

[2016-02-01 13:48] nikhileshcs opened #188 "How do i set the iconclass to custom."
Suppose i want custom styling to be applied to the toaster displayed. What do you suggest me to do !

Note: Am using bower to auto build the Js files. so please help me with the option of achieving it without modifying the toaster.js file

[2016-02-01 15:42] Stabzs commented on #188
As of right now, you cannot.  There is an open [https://github.com/jirikavi/AngularJS-Toaster/issues/61](issue) for modifying the structure of the library so that the icon class can be overridden.

If you are not referring to replacing the icon itself, you CAN always override the assigned icon classes and provide a custom style of your own in your own stylesheet.

[code]

[2016-02-02 10:22] nikhileshcs commented on #188
Thank you Stabz for the help!

But is the config `"{icon
    'icon-classes': {
                error: 'toast-custom-error',
                info: 'toast-info',
                wait: 'toast-wait',
                success: 'toast-success',
                warning: 'toast-warning'
                custom: 'toast-custom'
    }
}`
(or)
`{ 'icon-classes': {
                error: 'toast-custom-error',

[2016-02-02 14:52] Stabzs commented on #188
@nikhileshcs Whoops!  Sorry, it is absolutely the latter.  That was a typo on my part.  I've updated my original post.

[2016-02-03 08:10] RichardFans opened #189 "toaster show with playing sound could be more awesome~"
like this one https://github.com/invertase/angular-toasty

[2016-02-03 17:20] Stabzs commented on #189
I'm not sure I buy the advantage of being to play a sound being worth the cost of adding an embedded sound to the template.  It doesn't make a lot of sense.

However, I suppose adding an OnShow callback that allowed you to define and play your own sound might be appropriate.  It could also be used for anything else you'd want to perform on show.

This would be a far more flexible solution and woul

[2016-02-04 04:16] #188 closed

[2016-02-05 05:26] RichardFans commented on #189
YES  OnShow callback would be great!

[2016-02-05 05:26] #189 closed

[2016-02-06 02:06] Stabzs commented on #189
Version 1.1.0 has been released with an onShow callback.  The documentation has also been updated.

[2016-02-08 06:45] fkowal opened #193 "angular2 toaster"
Hi
Any attempts to create a angular2 toaster?

[2016-02-09 17:44] Stabzs commented on #193
Yes, I am working on an Angular2 implementation and will complete it as soon as I have time. I'll leave this issue open in the meantime.

[2016-02-09 18:36] fkowal commented on #193
If you open for help push out the work you've got to a branch describe the idea. And ill be glad to help

[2016-02-10 05:48] davidmiani opened #194 "A few traps I encountered with this library"
While integrating this library into my site, I hit a couple of minor problems that took a while to fix, but weren't really bugs in the library. It would be nice to either document these or to throw an error if the situation can be detected by the library.

1. When binding to a directive, if the element has a `restrict: 'E'` property then it will silently be ignored and use the default template. Id

[2016-02-10 18:49] jamesclark92 opened #195 "Can't position toasts at bottom"
it appears the code has been commented out

[2016-02-10 19:18] Stabzs commented on #195
I'm not sure what you are referring to. All three bottom position classes work as intended.

[2016-02-10 19:32] jamesclark92 commented on #195
Sorry, heres a plunker http://plnkr.co/edit/DftkAF?p=preview

[2016-02-10 19:52] Stabzs commented on #195
Thanks for providing the plunker, it was very helpful!

The issue is that you are using `animation-class`, which is incorrect.  You should use `position-class`.

[2016-02-10 20:02] jamesclark92 commented on #195
Ah thank you, I guess i should have read further down

[2016-02-10 20:02] #195 closed

[2016-02-10 20:04] Stabzs commented on #195
Happy to help!

[2016-02-10 20:23] Stabzs commented on #194
Thanks for the thoughtful feedback!  It's always appreciated.

1. I understand your point here and it is a good one.  Part of the issue is the fact that the directive is compiled inline as an attribute directive.  As a result, an element restricted directive will fail silently inside of AngularJS, not the Toaster library, which makes it a bit harder to track and throw an error for.  There are some

[2016-02-10 21:03] davidmiani commented on #194
What you wrote for 1 and 2 makes perfect sense, so I don't think it would be a good idea to change that behaviour. You're right that you don't need an isolated scope for your notification directives. It is just that as 95% of my directives do use an isolated scope, so I'm in a habit of putting that line in.

So just checking for the error seems like the best way. This could be done with $injector

[2016-02-10 21:29] Stabzs commented on #194
These are really reasonable checks and they coincide with the checking for the existence of the directive already.  I'll be happy to get these added and merged in in the near future with additional explanations in the documentation.  Again, thanks for the input.  It's greatly appreciated.

[2016-02-15 02:16] Stabzs commented on #193
A functional, alpha release has been pushed for Angular2-Toaster.  Please see https://github.com/Stabzs/Angular2-Toaster

[2016-02-15 02:16] #193 closed

[2016-02-15 14:28] MacGyver27 opened #196 "Position classes are blocking page content"
Hey,

The design of position classes is blocking page content.. e.g. toast-bottom-left is blocking whole page.. some others are blocking the full width when they are cornered.. this needs to be fixed please..

Even in your plunker you can see this issue.. I just changed container position to be `toast-bottom-left` and you are not able to use the buttons cause its blocking whole page..

http://plnk

[2016-02-15 15:55] Stabzs commented on #196
You are changing `animation-class`, which is incorrect.  You should be changing `position-class`.

[2016-02-16 13:02] MacGyver27 commented on #196
true, may bad.. I just copy paste from your plunker.. sorry for not rtfm, thanks

[2016-02-16 14:08] Stabzs commented on #196
No problem!

[2016-02-16 14:08] #196 closed

[2016-02-18 19:59] #194 closed

[2016-03-04 19:03] triberraar commented on #58
Hej,
I was able to close a specific toast by doing this when spawning:

     toaster.pop({
		type: 'error',
		body: 'Login failed, please correct the login form and try again.',
		toastId: 'loginFailedToastId',
		timeout: 0
    });

and them close it by calling:
    toaster.clear(undefined, 'loginFailedToastId');

seems you can also define a toasterId, i guess that is like a grouping parameter for

[2016-03-13 06:09] jchayan commented on #147
Use it in directive mode and then in the directive, retrieve your translation via the `$translate` service.

[code]

[2016-03-13 06:23] jchayan opened #200 "Making the toastr sticky"
According to your code this should be achieved via
timeout: 0
extendedTimeout: 0

But I think it's not yet implemented.

Is there a roadmap for this?

[2016-03-13 15:38] Stabzs commented on #147
@jchayan great example!  Thank you for adding it

[2016-03-13 16:19] Stabzs commented on #200
This is actually just incorrectly "documented" in the original "documentation" (inline comments) and I haven't moved it to formal documentation yet.

extendedTimeout it not implemented and I don't have a compelling reason to do so.  I'll remove it from the toaster.js file.

To set a sticky timeout per toast, use a timeout of 0 in your toast params.  To set all toasts per container as sticky, use:

[2016-03-13 23:50] #200 closed

[2016-03-18 14:19] phillipgreenii commented on #58
I noticed that `toaster.pop()` doesn't return anything, could we change that to return some kind of handle to the specific toaster message?  Then you could close specific toast messages programmatically?

[code]

[2016-03-18 14:48] triberraar commented on #58
I think returning the toastId instead of passing it would indeed be better.

[2016-03-18 15:00] Stabzs commented on #58
@phillipgreenii and @triberraar this is the exact issue I've been struggling with for a while and haven't decided the best way to solve it yet.

Because all toast pop calls are brokered through toasterEventRegistry per container, the issue is that pop calls are actually broadcasted to ALL toaster containers, even if targeted by toasterId.  Once receives, the container checks for the presence of th

[2016-03-18 16:23] phillipgreenii commented on #58
I have not worked with multiple containers, but it is my understanding that a single toaster message generated from a single call to `pop` can only be associated with a single toaster container.  So, the object returned from the pop would need to have knowledge of both the specified container as well as the specified message id.  Isn't that enough to do a clear?

So in my example:
[code]

A very s

[2016-03-18 16:48] Stabzs commented on #58
@phillipgreenii  That understanding is incorrect.  By default, if a toasterid is not defined on the toaster containers and not provided explicitly in the toast message, by default the toast would be added to any toaster-containers that could be broadcasted to.

The scenario you've described works fine for clearing when the toastid is described ahead of time.  However, in the scenario where the toa

[2016-03-18 20:45] phillipgreenii commented on #58
@Stabzs Thanks for the clarification.  At closer inspection, I'm only interested in a subset of this issue.  I don't need to have access to the toast message itself; I would only like to be able to clear a specific message in a fashion I mentioned previously.  In my scenario, I think the code I had before works just fine.  If there are multiple containers that accept the toast message, then they w

[2016-03-20 13:16] Stabzs commented on #58
@phillipgreenii since it's not exactly able to close this issue in entirety, that's probably best, even though it's related.

The code you've described only works in the case where there is a toastid to capture.  If there isn't, a clear handler couldn't be attached, else it would close all toasts which would be misleading, since you would expect the handler from a pop instance to only close that i

[2016-04-04 15:17] phillipgreenii opened #202 "Add handler to clear toasts"
# Overview

This is related to #58, but with a simpler use case.  Currently, `toaster.pop()` doesn't return anything.  My suggestion is to make it return a handler that could be used to clear the specific toast message that was generated.  A usage example is as follows:
[code]
## Simplistic Implementation
[code]
# Problems
It is unclear what should happen when a `toastId` is not specified.

## No

[2016-04-12 02:40] Stabzs commented on #202
Thank you for creating this excellent summary issue of our longer discussion on https://github.com/jirikavi/AngularJS-Toaster/issues/58.

I've been giving this issue (and the related issue) quite a bit of consideration.  I think your synopsis is quite accurate, as are the current issues and potential solutions that you've laid out.

That said, I believe that the underlying problem is that the toas

[2016-04-12 11:51] phillipgreenii commented on #202
I agree with your summary and conclusions.  In my mind, autogenerating the id is necessary to both simplify and expand the API.  However, I try not to jump into other people's code bases and ask them if they could significantly change their implementation.  I'm glad you have considered this before and are more aware of the ramifications.  The only thing that I would point out is that (at least for

[2016-04-12 16:20] Stabzs commented on #202
@phillipgreenii Please see the associated branch check-in.  It may remove the need to have a `handler.clear()` function.  If still useful, it could be added in as well.

[2016-04-12 17:23] phillipgreenii commented on #202
I think your branch is the way to go.  It is more inline with the rest of the API.  My only suggestion would be to override `toaster.clear()` so that I could do the following:

[code]

[2016-04-12 19:21] Stabzs commented on #202
@phillipgreenii that's very reasonable.  I've gone ahead and added in that feature as well.  In addition, I added support for each of the toaster pop helper methods.

[2016-04-12 19:38] Stabzs commented on #202
@phillipgreenii Release 2.0.0 has been merged and published to npm.

[2016-04-12 19:39] Stabzs commented on #58
Release https://github.com/jirikavi/AngularJS-Toaster/releases/tag/2.0.0 has been merged and published to npm.

[2016-04-12 23:48] #34 closed

[2016-04-12 23:48] #58 closed

[2016-04-12 23:49] #202 closed

[2016-04-13 13:33] Stabzs commented on #202
You're welcome!  Thanks for the valuable input!

[2016-04-16 16:33] Stabzs commented on #107
After additional consideration, I do not believe that there is enough of a use case here to warrant adding it to the API. If this type of query is truly needed, the DOM can be manually checked.

[2016-04-16 16:33] #107 closed

[2016-04-18 10:28] saineshwar opened #204 "How to show Toaster on controller load in Angular js"
angular.module('main', ['ngAnimate', 'toaster'])

.controller('myController', function($scope, toaster, $window) {

      $scope.bar = 'Hi';

    // for Executing this Script on Load of Controller i have wrote here but it do not display
      var pop = {};
        toaster.success({title: "title", body:"text1"});
        toaster.error("title", "text2");
        toaster.pop({type: 'wait', title: "ti

[2016-04-18 12:32] Stabzs commented on #204
How and where did you include the container) are you certain your controller is loaded into the DOM? You'll need to provide additional details please.

[2016-04-18 13:02] saineshwar commented on #204
what container you are asking stabzs sir ?

[2016-04-18 15:08] Stabzs commented on #204
If you do not have a `<toaster-container></toaster-container>` element in your DOM (and it should be outside of your routing) there will be nothing for the toasts to be rendered in.

Please see https://github.com/jirikavi/AngularJS-Toaster#getting-started

[2016-04-18 19:41] Stabzs commented on #204
I'm closing this since it is not a bug. That's said if you need further assistance feel free continue to post and I'll guide you as best I can.

[2016-04-18 19:41] #204 closed

[2016-04-24 00:01] yangmillstheory opened #205 "What's new in 2.0.0?"
Hi,

I don't see a CHANGELOG. Are there any breaking changes from 1.x to 2.0?

[2016-04-24 00:08] Stabzs commented on #205
There is no CHANGELOG but yes there potentially several breaking changes, hence the major release.  They are all documented under the release notes: https://github.com/jirikavi/AngularJS-Toaster/releases/tag/2.0.0

[2016-04-24 00:09] yangmillstheory commented on #205
Thanks! Our use case is pretty simple - so I don't think anything should break for this upgrade.

[2016-04-24 00:09] #205 closed

[2016-04-24 00:13] Stabzs commented on #205
No problem!  The only major change that could affect use between the major versions is custom toast ids, which is handled far better in 2.0.0. If you aren't doing anything along those lines, you should notice no difference.

[2016-04-27 08:49] rbatllet opened #206 "Bower version is not the latest"
When I install the 2.0.0 with Bower, warning messages are showed:

[code]

The version in `bower.json` is `1.2.0` and the `name` is not in lower case:
[code]

[2016-05-02 15:14] yangmillstheory opened #207 "Is there a way to specify showDuration?"
Just a question here, I find that the toasts are showing too slowly, so I want to use `showDuration`.

https://github.com/CodeSeven/toastr
http://codeseven.github.io/toastr/demo.html

Can we pass all options through to `toastr` instead of explicitly picking certain ones out?

[2016-05-02 15:21] Stabzs commented on #207
No, the showDuration is not handled via a parameter.  Since all animations are handled via CSS transformations, you would want to override the transformation styling.  See the snippet from the end of toaster.css

css
[code]

[2016-05-02 15:25] yangmillstheory commented on #207
Thanks for the useful snippet!

[2016-05-02 15:25] #207 closed

[2016-05-08 03:42] Stabzs commented on #206
Thanks for pointing this out.  I'll get it updated.

[2016-05-11 09:07] Dekamerron opened #208 "ECONFLICT Unable to find suitable version for angular"
When I write in GIT Bash:
`$ bower install angularjs-toaster --save `

The following appear:
[code]

As you can see the last row, I get an error.
And this is my bower.json:
[code]

Can anyone tell me what is the problem?

[2016-05-11 09:55] Dekamerron opened #209 "RequireJS and AngularJS-Toaster doesn't work together"
[code]

This is main.js and toaster is undefined where I wrote the comment near the end. The file is loaded as I can see it at Sources tab in the console.
In addition, wherever I want to use 'toaster', it is undefined. Here some code from the same demo app:

First case:
[code]

Second case (John Papa Angular Style Guide):
[code]

Can anyone tell me what I'm doing wrong?

[2016-05-11 17:12] Stabzs commented on #209
I'm not certain why you would expect that they would.

Mixing RequireJS and AngularJS in and of itself isn't exactly something I'd recommend, although it's doable.

However, mixing RequireJS and AngularJS-Toaster simply doesn't make sense, nor does it work.  In order to be imported by Require, there needs to be *some* sort of amd-style module wrapper declaration syntax that is available for Requir

[2016-05-11 17:13] Stabzs commented on #209
This is not an issue with the library itself and I am closing the issue.  However, feel free to continue dialog in the comments if you need additional assistance.

[2016-05-11 17:13] #209 closed

[2016-05-11 17:14] Stabzs commented on #208
It looks like you have a cached version of Angular: 1.0.8.  What happens if you uninstall it and clean your npm cache?

[2016-05-12 06:53] Dekamerron commented on #208
I tried the following:
1) `$ bower cache clean` -> same error when tried to install Toaster
2) `$ bower cache clean angular#^1.0.8` -> same error when tried to install Toaster
3) `$ bower cache list` -> the result was:

[code]
And then I tried to install Toaster, but still conflict.
4) Deleted the folder C:\User\MyUser\AppData\Local\bower\cache\packages, but still same error.

Any ideas?

[2016-05-12 14:28] Stabzs commented on #206
Addressed in https://github.com/jirikavi/AngularJS-Toaster/commit/77de356234250e523f07586c7a7a1636bbac712a

[2016-05-12 14:28] #206 closed

[2016-05-12 14:34] Stabzs commented on #208
When I used your `bower.json` file configuration and ran `bower install angularjs-toaster --save`, I received the following prompts:

[code]

It looks like the issue here is actually `angular-animate#1.5.5`.  `angular-animate` is a dependency of `AngularJS-Toaster` if/when you need animations.  However, because you have not specified a version in your `bower.json` file, it attempts to use the late

[2016-05-12 14:49] Dekamerron commented on #209
Working as expected.

[2016-05-12 14:50] Dekamerron commented on #208
That was it. Issue solved.

[2016-05-12 14:52] Stabzs commented on #208
Glad that helped!

[2016-05-12 14:52] #208 closed

[2016-05-26 04:57] smrutiranjan727 opened #211 "It don't fit to the Page Container width"
If I have Left Or Right Navigation Sidebar, then it's not subtracting the Sidebar width, resulting in showing the toaster starting from behind the sidebar.

[2016-05-26 15:56] Stabzs commented on #211
This seems to be a simple z-index issue. Can you please provide a small plunker that demonstrates this issue?

[2016-05-30 05:26] #211 closed

[2016-06-14 14:24] blake-nouribekian opened #212 "Position not being set when initialized"
I need to be able to control the position dynamically in the controller, not the view. I have tried adding 'position-class': 'toast-top-full-width' to the initialization object of toaster but it is not working.

`
toaster.pop({
						type: 'success',
						title: '',
						body: 'Some text',
						bodyOutputType: 'trustedHtml',
						'position-class': 'toast-top-full-width',
						showCloseButton:

[2016-06-14 14:39] Stabzs commented on #212
Toasts are not configurable via `position-class` on a per toast instance.  This is because it isn't the toast that is positioned, but rather the container that holds the toast.

As a result, if you needed to do something like this, I'd recommend creating multiple `toaster-containers`, each with their own ids and specific positions.  Then, depending on the position you need, target that container.

[2016-06-14 14:46] blake-nouribekian commented on #212
OK great! That sounds like a good plan. Thanks for the quick response.

[2016-06-14 14:46] #212 closed

[2016-06-14 14:51] Stabzs commented on #212
You're welcome!

[2016-06-17 14:55] kreed-rmn opened #213 "Upgrading to Angular 2.0.0-rc.2 breaks with "No Directive annotation found on ToastComponent""
Currently, with angular2-toaster version `0.3.2-rc.1` and angular `rc.2` app fails to start with

`No Directive annotation found on ToastComponent.`

Looks like an issue with the typescript decorators floating and not being applied to their respective classes.

[2016-06-17 15:09] Stabzs commented on #213
This library does not support Angular 2. If you are looking for Angular2-Toaster, version 0.3.5-RC.2 has been released today to address upgrade concerns.

[2016-06-17 15:09] #213 closed

[2016-06-17 15:38] kreed-rmn commented on #213
Thanks @Stabzs

[2016-06-17 15:40] Stabzs commented on #213
Sure thing!

[2016-06-21 01:51] MisterChangRay opened #214 "how to specify show location in config"
angular config,
 $scope.pop({
                    type: 'error',
                    title: 'test：',
                    bodyOutputType : 'trustedHtml',
                    body: html,
                    timeout: 10000,
                    showCloseButton: true,
                    'position-class': 'toast-top-left'  // this is invalid
                })

[2016-06-21 02:00] Stabzs commented on #214
Closed as duplicate of https://github.com/jirikavi/AngularJS-Toaster/issues/212

[2016-06-21 02:01] #214 closed

[2016-06-25 20:18] xtreemrage commented on #61
Is this option going to be in a next release? Love your work btw!

[2016-07-03 05:47] mallikarjuna909 opened #215 "How to apply "showMethod" toaster to display as SlideUp and SlideDown?"

[2016-07-03 13:08] Stabzs commented on #215
You would need to create CSS transitions for the toasts and override the current default animations.

[2016-07-03 13:14] Stabzs commented on #61
@xtreemrage I'll try to make sure this gets included in the next release. It will most likely end up being a breaking change however since the toast DOM structure will need to change. And much appreciated :)

[2016-07-05 09:38] mallikarjuna909 commented on #215
Well, I thought of there were methods like showMethod/hideMethods.
Anyhow i override toaster CSS, But the animations are not smooth.

Here is my playground.
http://plnkr.co/edit/F3Ggtml1eKniO7BHkPAH?p=preview

[2016-07-08 03:09] Stabzs commented on #215
No, there are no show/hide methods since all animations are done via ngAnimate using pure CSS transitions.

See the following ngAnimate plunker for showing and hiding elements: http://plnkr.co/edit/xmkBjvPY5OjFLnxcuVKz?p=preview&s=jBzeCEpWphlOpSRv

[2016-07-08 03:09] #215 closed

[2016-07-08 09:18] Narretz opened #219 "Why is there no compile + scope option?"
I'm a bit puzzled why there isn't a simple option for the toast to use a template string / templateUrl, pass in a scope, and have that compiled, similar to uib-modal for example: https://angular-ui.github.io/bootstrap/#/modal

Instead, there is the "directive" option, that is basically an indirect way of doing this. You can easily create a wrapper directive that creates a new scope, assings the di

[2016-07-09 16:31] mallikarjuna909 commented on #215
Here is the code for slideUp/slideDown. Just override the css.

:not(.no-enter)#toast-container > div.ng-enter,
:not(.no-leave)#toast-container > div.ng-leave
{
    -webkit-transition:all linear 0.3s;
    transition:all linear 0.3s;
}

:not(.no-enter)#toast-container > div.ng-enter.ng-enter-active,
:not(.no-leave)#toast-container > div.ng-leave {
     line-height:15px;
     padding: 15px 15px 15px

[2016-07-09 17:06] mallikarjuna909 opened #220 "Does Angularjs $watch watch on Toaster close?"
Am working with Angular Toaster, as i need to watch the toaster while it is closing.Or
How can i use onHideCallback globally for all toasters?

[2016-07-09 17:21] Stabzs commented on #220
The `onHideCallback` is a per toast callback.  There isn't a global option that you can apply to the entire container for all toasts.

You would need to pass a hide callback function for every toast instance that you create.

[2016-07-09 17:31] mallikarjuna909 commented on #220
In otherhand, can we trigger an event while toaster is closing?

Thanks@Stabzs.

[2016-07-09 17:32] Stabzs commented on #219
Is there a particular use case that you are looking for that the current approach cannot accommodate?

When originally requested (and added) the design perspective was that of a directive-first approach, since this is more flexible than needing to pass in a template url and handles cases such as the directive not existing a bit better, giving more feedback over the process.  This favors the curren

[2016-07-09 17:38] Stabzs commented on #220
@mallikarjuna909 If you choose to embed an event inside of your `onHideCallback`, absolutely, you can trigger an event.  A trivial example would look something like the following:

[code]

[2016-07-09 22:03] #220 closed

[2016-07-13 00:04] glendaviesnz opened #221 "Support for .component as well as .directive"
Hi

Do you know if anyone is looking at adding support for passing in .components as well as .directives?  Not a major issue not having this, but would be happy to look at adding it if nobody else is, and if you didn't see any issues with supporting it.

Thanks
Glen

[2016-07-14 01:24] Stabzs commented on #221
This wasn't necessarily on my radar, although I understand the reason for the change.

This would require a fair amount of change to the way directives (and in the future, components) are rendered since currently there are restrictions preventing isolate scope and element-based directives/components, both of which are reasons why components are currently incompatible with the directive `bodyOutput

[2016-07-14 01:55] glendaviesnz commented on #221
ok, thanks - I will have a look and see what might be involved in this, and assess if it is worth the effort or not, and come back to you.

[2016-07-14 09:49] shyamal890 opened #222 "How do I customize toast-container css per toast?"
It would be great if toast-container can be customized through custom css. May be a custom class can be added to particular toasts manually.  With this, icon too can be hidden as per user's wish (User Template)

[2016-07-14 13:14] Stabzs commented on #222
You already have this flexibility if using template or directive body types since you can attach classes to the to-be rendered templates.

[2016-07-14 15:45] shyamal890 commented on #222
Can you share a plunker, because I am not able to make it work

[2016-07-14 16:41] Stabzs commented on #222
It depends on the level of flexibility/customizability you need, but for something like the body, you could certainly do something like in the following plunker: http://plnkr.co/edit/OzRcVB0xJYly8gZZiY9m?p=preview

[2016-07-14 17:10] shyamal890 commented on #222
I am talking about access to the whole toast-container.

[2016-07-14 17:12] Stabzs commented on #222
I see.  In that case why wouldn't the following meet your needs?

`<toaster-container class="customClass"></toaster-container>`

[2016-07-14 17:20] shyamal890 commented on #222
I would have to have multiple `toaster-container` then I guess. As each toast may have a different class. It would be great if you can have a way to specific the wrapper class from js code itself.

[2016-07-14 17:24] Stabzs commented on #222
Do you have a real use case for using a different styling for the container per toast?  Could you clarify a bit more?  I'm failing to see the use case here :).

[2016-07-14 18:05] shyamal890 commented on #222
Would like to customize like this:

![i](https://cloud.githubusercontent.com/assets/6606965/16850194/a072bd82-4a1b-11e6-97e8-4df3331c420e.PNG)

[2016-07-14 18:27] Stabzs commented on #222
Thanks for the mockup, that's very helpful.

I agree, for this type of scenario the library does not provide a decent way to handle this and this would be a reasonable case to pass this as a parameter in the pop method.

This would only be available via the pop({}) syntax since it wouldn't make sense in another capacity.  In addition, in order for this to work, it would only set a class on the `to

[2016-07-14 18:30] shyamal890 commented on #222
Would look forward for this feature.

[2016-07-14 18:57] shyamal890 commented on #222
Would look forward for this feature. Can I expect it anytime soon?

[2016-07-15 20:23] Stabzs commented on #222
I apologize, in returning to the code, I realized that you can indeed accomplish this today with the code as is.

Each toaster type (success, info, etc) SHOULD correspond to a value that exists in the icon-classes object on the toaster config which is merged per container.

As a result, you can override the types that can be passed in, using a custom icon-class per the toast type OR even create an

[2016-07-17 22:34] glendaviesnz commented on #221
I have had a look at this and it appears that the only way to tell if it is a component that has been passed in is to either check for the existence of $$bindings which .components do not have, or the default $ctrl controllerAs name. This second option is obviously not very reliable as this can be changed on a component, and can also be added to a directive.

Not sure how reliable/recommended it i

[2016-07-17 23:01] glendaviesnz commented on #221
ok - hold fire on looking at this - looks like directives don't always have $$bindings either - will do some more research on this.

[2016-07-18 04:20] glendaviesnz commented on #221
It looks like the easiest way to support .component is to only allow them to be passed along with the bodyOutputType = directive if the .component bindings param is set - at this stage this appears to be the only param that is supported by .component but not .directive.

Passing in a .component('mycomponent', {
    bindings: {    directiveData: '<' }
});
and rendering with
'<' + directiveName + '

[2016-07-18 16:31] shyamal890 opened #223 "Feature Req: Individual Toast tap-to-dismiss"
It seems we cannot define individual toast's `tap-to-dismiss` configuration. Would be great if this feature is included.

[2016-07-18 16:57] shyamal890 opened #224 "Feature Req: Toast click event"
Please do expose click event for toast exclusive of `closeButtonClick`

[2016-07-18 18:50] Stabzs commented on #224
To clarify, are you simply looking for a click handler that can be tied into that is not related to the closing of the toast?  Are you looking to still preserve the close functionality however?  This can most likely be done today without additional functionality being added, but I want to make sure I understand your need.

[2016-07-18 18:54] shyamal890 commented on #224
@Stabzs What I meant was we can have `preventDefault()` on close button click so that toast-click event is not triggered when close button is clicked.

[2016-07-18 19:04] Stabzs commented on #224
I assume that you don't mean preventDefault but rather stopPropagation.

Can you please explain your use case?  It is perfectly reasonable that a user may want both events to fire.

[2016-07-18 19:07] shyamal890 commented on #224
@Stabzs My mistake its  `preventDefault` and not `preventDefault`. I would just like to capture click events on toast and if some condition meets, remove the toast clicked. `tap-to-dismiss` doesn't work when you need to close only after a condition is met.

[2016-07-18 19:13] Stabzs commented on #224
Ah, ok, thanks for the clarification.

I think you are misunderstanding `tap-to-dismiss` in its current state.

Currently, the condition for removal of a toast is evaluated based on one of two conditions.

a. tap-to-dismiss is true
b. the close button is shown and clicked.

In either of these scenarios, the `clickHandler` parameter attached to the toast instance will be executed and returned.  If

[2016-07-18 19:19] shyamal890 commented on #224
There are situations when a toast is displayed informing users of an ongoing background process, as soon as that process is completed -> close toast. So a and b doesn't meet requirement. Hope this use case clarifies the need

[2016-07-18 19:21] Stabzs commented on #224
It doesn't explain the need for different logic in the click handler itself.

Currently, all toast instances return a wrapper object composed of a toasterId and a toastId.  You can call the toast service directly with the toastId instance to close the toast rather than evaluating the state of the background process in the click handler.  That would be more consistent with the expected behavior and

[2016-07-19 17:51] mbirnbaum opened #225 "closing toasters"
Is there a way to close a toaster from the controller? Or some way to pass an ng-click function in the `closeHtml` button? I need the toaster to close when an event occurs. The documentation does not show either one? Is it possible?

[2016-07-19 18:09] Stabzs commented on #225
I apologize, the documentation has not yet been updated.

Yes, you can clear a toast from a controller via the wrapper response that is returned and the `toasterService.clear()` function.  Please see this issue where the enhancement was added: https://github.com/jirikavi/AngularJS-Toaster/issues/202

[2016-07-19 18:23] Stabzs commented on #225
Specifically, it is implemented by this function:

[code]

You would interact it by holding onto the handle returned via `pop()`.

``JavaScript
var toastInstance = toasterService.pop('success');
toasterService.clear(toastInstance);
``

[2016-07-19 18:29] Stabzs commented on #222
@shyamal890 Could you please provide an update?  Was the plunker that I provided sufficient for your needs or is a change still required?

[2016-07-19 18:30] shyamal890 commented on #222
Yes it is perfect (y)

[2016-07-19 18:32] Stabzs commented on #221
Thank you for the detective work on this.

This looks plausible.  I'd like to take a closer look as well.  It's possible that changing the scope binding to be more flexible might be a nice touch as well, which would help alleviate a bit of this pain.

That said, the short path would be to potentially check for the presence of the binding if the restrict directive type is 'E', since components can

[2016-07-19 18:33] Stabzs commented on #222
Wonderful.  Thanks for the confirmation!

[2016-07-19 18:33] #222 closed

[2016-07-19 18:33] #219 closed

[2016-07-19 18:34] Stabzs commented on #223
This seems like a reasonable addition.  I'll check to see if there are any constraints on implementing it.

[2016-07-19 18:37] Stabzs commented on #224
@shyamal890 I wanted to revisit this.  Did my explanation of the close handler provide what you needed?  If not, I'm still not certain what the use case is that you are looking for or what would need to be implemented.

[2016-07-19 18:51] mbirnbaum commented on #225
Got it! Thank you.

[2016-07-19 19:15] shyamal890 commented on #224
@Stabzs Sorry, but I forgot the real use case when I created this question. Feel free to close the issue, I will comment if I remember or encounter the need when programming.

[2016-07-19 19:34] Stabzs commented on #224
Sounds good, thanks for confirming!

[2016-07-19 19:34] #224 closed

[2016-07-19 23:56] glendaviesnz commented on #221
There is a branch here https://github.com/glendaviesnz/AngularJS-Toaster/blob/component-support/toaster.js with the change I made to check this approach - happy to do some more work on this, add some tests, etc. and put in a pull request if it helps, but no worries if you want to just explore later yourself - just using .directive instead is working for me at the moment.

[2016-08-01 16:20] JeremyCarlsten opened #226 "Working with Typescript."
I've got a project that I'm converting to typescript, I've run into an issue with toaster not popping when it's converted. checking my logs it looks like the toaster object exists (with a pop method) but it just doesn't do anything, no console errors, no pop. Any suggestions?
class myClass {
public toaster;
constructor(toaster, ...){
   this.toaster = toaster;
}
...
 public createToasterAlert(aler

[2016-08-02 09:27] stibay opened #227 "Possible to change content of toaster dynamically?"
Hi.

Is it possible to have a toaster pop up and then change the content of it afterwards while it's still open?
Thinking of something like this so I could change theese variables and apply it to the scope.

[code]

[2016-08-02 09:45] stibay commented on #227
Ah I see it works by just changing the variables in the toaster.toast. How does this work with html body?

[2016-08-02 09:48] #227 closed

[2016-08-02 14:32] Stabzs commented on #226
Nothing necessarily looks amiss.

Are you able to create plunker?  I'll be happy to take a look if you can.

[2016-08-07 03:18] #226 closed

[2016-08-08 13:46] JeremyCarlsten commented on #226
Sorry about that, I am not able to make a plunker of it, it's work based code. Best guess is we were doing something stupid. Looks like we got it working, though they may have switched to another plugin.

[2016-08-08 16:17] Stabzs commented on #226
Not a problem.  If it ends up still being a problem, feel free to update this issue and I'll be happy to take a look.

[2016-08-18 15:40] JosephOR opened #228 "add color for all toasts"
hey hey.
I have been looking into toaster for a day now (research for work) and have a quick question.
i can add a custom color for a toast, say background color to purple, so set this as the icon class on the directive, and add the css to my stylesheet..and this works perfect. but for example we would like to use purple as our main color for all toasts, and then this method seems abit long. is it

[2016-08-18 18:24] Stabzs commented on #228
In this particular case, I agree, the methodology for overriding all toast colors is excessive.

The best thing to do here is to add additional styling for all toast types to YOUR stylesheet and just make sure that it loads after the toaster.css is loaded, to overwrite the styles.  That would allow you to update all toasts without worrying about modifying the actual original backing icon classes t

[2016-08-19 08:25] JosephOR commented on #228
hey stabz, thanks for the quick reply. yeah it didnt seem it could be done easily, just wasnt 100% sure. sure small price considering how easy it is use, good work!

[2016-08-26 14:36] Narretz commented on #219
The current options allow all of my use cases, but the fact that you dynamic content must be done with a directive that cannot create a scope etc. makes everything more complicated than it has to be, and introduces limitations and caveats that are not obvious and must be documented specifically, see. Now you need special support for components, because of the implementation: https://github.com/jir

[2016-08-26 16:06] hsbilgen opened #229 "Toaster-Options is not working and says unresolved attrs"
I was expecting to change the position of my toasts but i cannot use the toaster-options as an attribute. Can you please have a look at the below code?
Attribute toaster-options is not allowed here... (Ctrl+F1)
This inspection highlights unknown HTML tag attributes as invalid, and lets mark such attributes as Custom to avoid highlighting them as invalid

my AngularJS-Toaster is:
/*
     * AngularJ

[2016-08-26 16:27] Stabzs commented on #229
You must have another error in your code somewhere.  This looks reasonable and this absolutely did not change in the latest release.

You can verify this [here](http://plnkr.co/edit/4ICtcrpTSoAB9Vo5bRvN?p=preview) in this working, updated to 2.0.0 plunker.

Please provide a plunker that demonstrates this behavior.

[2016-08-26 16:27] #229 closed

[2016-08-26 16:28] Stabzs commented on #228
Sorry for the delayed response.  Always better to check :).  Glad you're finding it useful!

[2016-08-26 16:28] #228 closed

[2016-09-13 15:27] briananderson1222 opened #231 "onHide and onShow callbacks should return instance?"
Is there any reason why these callbacks don't return the instance of the toast on which they were triggered? Can this information be obtained in any other way other than on the `pop` method?

[2016-09-13 15:35] briananderson1222 commented on #231
Can be retrieved from `this` in the context of the callback

[2016-09-13 15:35] #231 closed

[2016-09-16 18:18] briananderson1222 opened #232 "ngAnimate iOS issue"
I am noticing on iOS devices that the toast appears to pop in instantly then fade out instantly. I'm guessing that the issue might be related to https://github.com/angular/angular.js/issues/12507 but I am curious if anyone has come across this or has a workaround specifically for this library

[2016-09-16 19:56] Stabzs commented on #232
@briananderson1222 I have used the library quite a bit on iOS devices and I haven't noticed the same issue.  It may be with however you are declaring your animations for the toasts.

See something along the lines of https://github.com/jirikavi/AngularJS-Toaster/issues/215

[2016-09-19 18:52] briananderson1222 commented on #232
Appears to be caused by an external library. Thanks

[2016-09-19 18:52] #232 closed

[2016-09-21 15:23] umdstu commented on #225
I just came across this as I noticed my toasts were not clearing anymore (or perhaps never were? i can't recall). Inspecting the DOM i see a single toaster-container, but then for each toast there is a ng-repeat='toaster in toasters' which seems wrong. I'm assuming there should be a single ng-repeat even if i were using the multiple toaster-container via id's (which I"m not). Using 2.0.0

[2016-09-21 15:31] Stabzs commented on #225
This is simply how angular renders markup. If there is an issue with closing, please create a plunker demonstrating the issue.

[2016-09-21 15:42] umdstu commented on #225
Thanks for the quick response. I realize that now. Updated my comment with an Edit before I saw you'd responded:

Edit: perhaps my problem is that i'm not passing any id to the clear() function. I'm simply calling toaster.clear() and was expecting it to close all toasts. Is this not possible?

[2016-09-21 17:57] Stabzs commented on #225
@umdstu Not quite.  `clear()` without any parameters will not clear all toasts from all containers if those containers have specific toasterIds associated with them (which is always a good idea). If you want to globally clear all toasts, call clear like so:

`toaster.clear('*')';

You can see this updated plunker for an example: http://plnkr.co/edit/4ICtcrpTSoAB9Vo5bRvN?p=preview

[2016-10-04 13:03] anx-ckreuzberger opened #233 "Use Template Cache instead of defining the template inline"
Hi!

I noticed that you are using an inline template in your directive:
[toaster.js L490-L503](https://github.com/jirikavi/AngularJS-Toaster/blob/master/toaster.js#L490-L503)

It would be cool if this would be in a template cache, similar to what is happening here:
[another toaster library](https://github.com/tameraydin/ngToast/blob/master/src/scripts/directives.js#L7-L32)

The major benefit of us

[2016-10-20 14:23] Weestdudochnicht opened #235 "Close Button + clickHandler"
Hello.

I try to use the close-button in combination with an event handler ( goToLink). The Problem is that if i click on the Close Button the goToLink will be called, even if i dont want to open the Link!

my Code:
<toaster-container toaster-options="{'position-class': 'toast-devoops-top-right', 'close-button':true}"></toaster-container>

toaster.pop('message', notificationsService.translateAndCo

[2016-10-20 16:13] Stabzs commented on #235
Can you please create a plunker demonstrating the behavior?

[2016-10-21 07:55] Weestdudochnicht commented on #235
i try to create a plunker now, but i believe my Problem is the same as in #123. could u tell me how i use that fix?

[2016-10-24 12:56] Maximaximum commented on #225
It would be great if you could add documentation for this feature. It works perfectly, but people have to spend some time to look through the docs, see it's not there, go to issues, find this relevant issue, read through it, then go to relevant pull request, read through it, try to use `handler.clear()`, see it's not working, then again read through the issue, notice that the signature eventually

[2016-10-25 18:25] umdstu commented on #225
+1, I got it to work by using this method but it definitely wasn't obvious
when I skipped the src code. And it wasn't documented where I skimmed.

On Mon, Oct 24, 2016 at 8:56 AM, Maksym Kobieliev <notifications@github.com>
wrote:

[2016-10-31 15:15] Stabzs commented on #235
@Weestdudochnicht  I apologize for the delayed response.

Please see my forked plunker: http://plnkr.co/edit/Wvxpbf9WLwf4PJ6y43Ui?p=preview

The behavior you are describing is not mirrored in what you provided.  I updated the toaster.js version to 2.0.0, but the example is incomplete.  Please update your plunker to demonstrate how you are currently using it and I'll be happy to take a look.

It is

[2016-11-02 08:57] Weestdudochnicht commented on #235
hey. Thanks for your answer. The Problem with your forked Plunker is, that the click handler doesnt work.
toaster.js:481 TOAST-NOTE: Your click handler is not inside a parent scope of toaster-container.

but the close Button work. I dont know how to fix the click-Handler in that Plunker. in My Application it works like this.

But the Porblem in my app. is that if i click the Close Button to close

[2016-11-02 15:15] Stabzs commented on #235
Thank you for the clarification.

This is occurring because of these two parameters: `'trustedHtml', "goToLink"`.  You are explicitly telling the toaster container to look for a goToLink template and render it as trusted html.  However, in the example I forked from you, no such template is provided.  As a result, when the click even tries to occur, it is no longer bound to anything that it underst

[2016-11-02 15:44] Weestdudochnicht commented on #235
http://plnkr.co/edit/jQjBIhsGg6Sovj8Oewdl?p=preview

in this plunker u can see my problem. If u click "show toast" and u try to close the single toast by clicking the cross-Icon ( close Button) the goToLink function will be called. How can i prevent that, so that the toast will be closed and no new tab will be open ?

[2016-11-02 16:17] Stabzs commented on #235
Thanks for providing the updated plunker...it is very helpful.

There are two issues at play here.

First, the click handler accepts a parameter that is passed in: `isCloseButton`.  You are not using this in your handler, which prevents you from being able to check if the click originated from the body or the close button.  You would want to update your handler to the following:

[code]

That said

[2016-11-02 16:34] Weestdudochnicht commented on #235
thanks for your help.
i got the same result with your solution.
at first isCloseButton == true and then its undefined

[2016-11-02 16:35] Stabzs commented on #235
@Weestdudochnicht  you're welcome!  And yep, that's the bug but it is patched locally.  There are some additional changes I need to roll into the release but I'll get it out as soon as possible.

[2016-11-02 18:15] #235 closed

[2016-11-02 18:15] #223 closed

[2016-11-02 18:15] #225 closed

[2016-11-02 18:15] #233 closed

[2016-11-02 18:30] Stabzs commented on #235
@Weestdudochnicht  this is now published under package `2.1.0`.

[2016-11-03 08:40] Weestdudochnicht commented on #235
Thanks.

[2016-11-03 15:12] Stabzs commented on #235
@Weestdudochnicht  you're welcome!

[2016-11-07 08:14] Weestdudochnicht commented on #235
and when will the fix be released? bec. "Current Version 2.1.0" is not available

[2016-11-07 18:33] Stabzs commented on #235
@Weestdudochnicht  it is already released.

I apologize, I haven't had time to create a formal release tag, but it is available via npm: https://www.npmjs.com/package/angularjs-toaster

[2016-11-07 19:55] Stabzs commented on #235
@Weestdudochnicht this has just created as a tagged release: https://github.com/jirikavi/AngularJS-Toaster/releases/tag/2.1.0

[2016-11-17 15:34] mattbrunetti opened #242 "Cannot show more than one toaster at once"
Using AngularJS v1.5.8 and AngularJS Toaster v2.1.0

When I call more than one `toaster.pop` in a row synchronously, only the last one is displayed.

When I call more than one `toaster.pop` in a row asynchronously by wrapping with `$timeout`, all are displayed, but only the last one sticks around for the time-out duration; the rest immediately transition out (so the user won't have a chance to rea

[2016-11-17 15:51] Stabzs commented on #242
I can't reproduce this.

Please see the attached forked plunker.  Can you please update it to match your configuration?  This feels like a configuration issue.

[2016-11-18 13:22] mattbrunetti commented on #242
Thanks for the immediate response :smile: You are what makes open-source amazing.

I forked a Plunker from another issue, upgraded AngularJS and AngularJS Toaster to the versions mentioned above, made changes to call 10 `toaster.pop`s at the same time with the same options as in our project, and... Couldn't reproduce my issue. :cry: http://plnkr.co/edit/4xhyOy4XzCf2UMyHX2pW?p=preview

I had previo

[2016-11-18 13:22] #242 closed

[2016-11-18 16:29] Stabzs commented on #242
@mattbrunetti  my pleasure, more than happy to help!

Glad to hear that things are working as expected.  If it does resurface, please feel free to reopen and attach a plunker and I'll be happy to take a look.

[2016-11-25 03:55] a459295360 opened #243 "cannot pop when i use toaster.pop in the directives"
i want pop message in the directives.but it can not display,and when i change the code ,it can be success:
if (mergedConfig['newest-on-top'] === true) {
                               **## // add $evalAsync fun.
                                scope.$evalAsync(function(){
                                  scope.toasters.unshift(toast);
                                })**

[2016-11-25 05:09] #243 closed

[2016-12-05 18:12] pgom opened #244 "Toast disappears quickly when reloading page"
Using this package with `ui-router` and if we execute a page reload, the toast disappears quickly. For example:

[code]

@jirikavi, any idea why this is happening? Is this related with `$destroy`?

[2016-12-05 18:26] Stabzs commented on #244
@pgom your container is most likely positioned inside of your router content.  You should position your container outside of anything that is impacted by routes.

[2016-12-05 18:30] pgom commented on #244
Hmm...my container is positioned in a root template file that is used by `ui-router` but it's defined at the same level of the `ui-view` element.

[2016-12-05 18:37] pgom commented on #244
@Stabzs I see what you mean now. Issue solved. Thanks a lot.

[2016-12-05 18:37] #244 closed

[2016-12-05 19:57] Stabzs commented on #244
@pgom happy to help!

[2016-12-16 03:46] doxiaodong opened #246 "[feature] multiple toaster-container support?"
Is there any plan to support multiple toaster-container?

[2016-12-16 03:48] Stabzs commented on #246
Multiple containers are already supported

[2016-12-16 04:12] #246 closed

[2016-12-16 21:58] soichih opened #247 "toast.html not found"
I started seeing following messages on my browser console.

[code]

I don't know what's trying to load toast.html, but it used to not do that - as far as I know.

[2016-12-17 00:05] Stabzs commented on #247
I can't reproduce any such issue with angular 1.6.0 and angularjs 2.1.0.  Please see this forked plunker: http://plnkr.co/edit/HaUB27F7jKC4xu2gT45P?p=preview.

Can you create a plunker that demonstrates this issue?

[2016-12-19 15:48] soichih commented on #247
I found the culprit for my issue. I was doing `$templateCache.removeAll()` in app.run() - so that browser won't cache my templates (mainly for development purpose). Looks like I shouldn't do that.

[2016-12-19 16:10] blowsie opened #248 "templateWithData usage"
I found this example of `templateWithData`, but it passes a object as a string with a very small amount of data;
http://plnkr.co/edit/HKTC1a?p=preview

Is there a way I could pass in a object like this? Is this intentionally not supported?
[code]

[2016-12-19 19:28] Stabzs commented on #248
An object is supported.  You can absolutely pass your data as follows:

`toaster.pop('warning', "Hi ", "{template: 'myTemplateWithData.html', data: { title: 'MyData'}}", 15000, 'templateWithData');`

[2016-12-19 19:28] Stabzs commented on #247
@soichih thanks for the update!  You can always retrieve the angularjs-toaster template from cache, store it, remove all, then re-add it to the cache for your development purposes if you need to.  It IS an extra step in your case, but it allows other library consumers to easily override the toast template as they see fit.

[2016-12-19 19:28] #247 closed

[2016-12-20 07:36] blowsie commented on #248
@Stabzs sorry I should have been more specific. Is it possible to pass the object as an object and not as a string? Lets assume the object is a large error object for example.

[2016-12-22 02:31] Stabzs commented on #248
@blowsie It isn't ideal but it is certainly doable.  Essentially, you need to stringify your data and template and pass the string.

Please see the attached [plunker](http://plnkr.co/edit/E8JzKX?p=preview)

[2016-12-22 10:47] blowsie commented on #248
@Stabzs, Thanks for the info, however it defeats the point of working with objects.

[2016-12-22 13:57] deadmann opened #249 "How can i update existing toaster dialog?"
I want to write error handler for my project, due too masive coppling and processes that may happen side by side, they may two many error occure at once, ... so i wish to keep track of showing dialog, and for example update last dialog, say this error occure twise, or thosand time :D
so i need to access existing dialog, and then also update it's timeout...

i currently know that we have toastId an

[2016-12-22 15:07] Stabzs commented on #248
@blowsie without seeing an example of what you are trying to do, it is difficult to offer a better suggestion.

[2016-12-22 15:47] deadmann commented on #249
I done updating the dialog, but the issue is how to update the timeout?

How should i access actoual timeout object? i only can see the promise, but no reference, or restart method..., how can i replace the promise at least?

[2016-12-22 16:01] Stabzs commented on #249
The library doesn't really support this type of post-toast manipulation.  However, if you wanted to reset the timer you'd need to call `scope.configureTimer` living on the directive, while giving a numeric value to the timeout prop.

[2016-12-22 16:23] deadmann commented on #249
how can i access scope of that particular Item...? i also needed to add <br/> html, so i set as trustedHtml, and the update of message failed this time, so i figured out, i no longer have access to body reference

[2016-12-22 16:42] Stabzs commented on #249
You can look at the tests to see instances where the container's scope is retrieved: https://github.com/jirikavi/AngularJS-Toaster/blob/master/test/toasterContainerSpec.js#L115

[2017-01-07 13:26] chetanbuddh opened #251 "Toast doesn't work with ng-dialog"
`$scope.abc = function ($event, a) {
        $event.stopPropagation();
        ngDialog.open({
            template: 'NewDialog',
            className: 'ngdialog-theme-default',
            controller: 'NewDialogCtrl',
            data: a != undefined ? angular.copy(a) : undefined,
            showClose: false,
            overlay: true,
            closeByDocument: false,
            closeByEsca

[2017-01-10 18:28] Stabzs commented on #251
@chetanbuddh can you please create a plunker that demonstrates the issue?  Most likely you aren't including the container directive properly.

[2017-01-10 21:07] CihanAksoy opened #253 "toaster default position"
How can i set default toaster position in config ?

[2017-01-12 20:13] Stabzs commented on #253
This is documented in the README here:

https://github.com/jirikavi/AngularJS-Toaster#other-options

You have the following options:

'toast-top-full-width', 'toast-bottom-full-width', 'toast-center',
'toast-top-left', 'toast-top-center', 'toast-top-right',
'toast-bottom-left', 'toast-bottom-center', 'toast-bottom-right',

[2017-01-12 20:13] #253 closed

[2017-01-13 20:13] #251 closed

[2017-01-13 20:13] #249 closed

[2017-01-13 20:13] #248 closed

[2017-01-25 11:36] chiragg928 opened #254 "Undesirable result of Toaster"
This is the function for toaster that i'm using:
`$scope.reactToaster = function (info, title, text) {
        toaster.pop(info, title, text);
      };`

Calling function:
`$scope.reactToaster('error', 'Error', 'Network Error');`

But, every time only the toaster of **success** type is shown.
This function was working fine for quite some time. I observed this issue yesterday.
**"version": "2.1.0"*

[2017-01-25 14:16] Stabzs commented on #254
This is almost certainly not an issue with the library itself.  Please post a minimal example that reproduces the issue in a plunker and I'll be happy to take a look.

[2017-01-27 07:27] chiragg928 commented on #254
After checking the code I too feel that there is no issue with the library. I tried to reproduce this scenario in plunker and failed.
For now I have handled this situation temporarily. Thanks for your time.  :)

[2017-01-27 07:27] #254 closed

[2017-02-02 00:23] bbraun-edf opened #255 "Toast options object for time-out causes toasts to stay open, like 0"
http://plnkr.co/edit/EsExTjP1IJcT6zZquXvF?p=preview

Setting the options for the time-out using the object (so you can have separate settings per class), results in the toast message staying open.  See plunker forked from your example.  The top warning message should have closed after 2 seconds.

`<toaster-container toaster-options="{'close-button':false, 'time-out':{ 'toast-warning': 2000, 'toast

[2017-02-02 00:54] Stabzs commented on #255
You are using an outdated version of the library.  If you see my fork using version `2.1.0`, it works just fine: http://plnkr.co/edit/Esrdbl5S6hcmhiVmSjiF?p=preview

[2017-02-02 00:54] #255 closed

[2017-02-02 01:02] bbraun-edf commented on #255
You might want to replace the ‘Simple demo’ plunker you use in your README.md file with one that uses the latest version to avoid this kind of confusion in the future.

Thanks for the help.

From: Stabzs [mailto:notifications@github.com]
Sent: Wednesday, February 01, 2017 6:55 PM
To: jirikavi/AngularJS-Toaster <AngularJS-Toaster@noreply.github.com>
Cc: Bill Braun <Bill.Braun@edfenergyservices.com>

[2017-02-02 01:22] Stabzs commented on #255
I can't edit that particular plunker since it is owned by the repo's owner, but I'll be happy to fork it over to a new plunker and update the documentation to point to the fork instead.

[2017-02-02 01:41] Stabzs commented on #255
Doc url for the simple demo has been updated to a new, current plunker.

[2017-02-07 23:30] jbhamilton opened #257 "Support for directives to be passed events when mouseover/out for timer occurs"
I have built a progress bar that moves from full to empty as the duration of the timeout passes and displays in the bottom of the notification. However when the notification is moused over the timer is paused and when moused out the timer restarts. I would like to be able to be notified of these events to react appropriately (refilling the progress bar, not emptying it while still moused over, and

[2017-02-10 19:27] Stabzs commented on #257
It isn't necessarily a bad idea (and I'm sure several people would find it useful) but it may be easier to implement after restructuring to the directive BodyOutputType occurs to handle better eventing up and down.  Also, keep in mind that a toast MAY sent to multiple containers, but each toast instance would need to be separately handled.

[2017-03-30 08:12] usmansaleh commented on #208
@Stabzs i have same problem
{
  "name": "projectName",
  "version": "0.0.1-0",
  "description": "ProjectName",
  "authors": [],
  "license": "MIT",
  "ignore": [
    "**/.*",
    "node_modules",
    "bower_components",
    "test",
    "tests"
  ],
  "devDependencies": {
    "angular-mocks": "^1.5.3",
    "sinon": "http://sinonjs.org/releases/sinon-1.12.1.js",
    "bardjs": "^0.1.8"
  },
  "depende

[2017-03-30 18:23] Stabzs commented on #208
@usmansaleh this doesn't sound like an AngularJS-toaster issue. That said I would recommend you try the same troubleshooting steps I outlined above.

[2017-04-18 12:22] vaibhav-jain opened #259 "Attempted to trust a non-string value in a content requiring a string: Context: html"
I'm getting this error when calling `toastr.pop`. Any idea what can be wrong ??

[code]

@jirikavi  Awesome plugin

[2017-04-18 14:41] Stabzs commented on #259
This has nothing to do with the library.  You're passing a non string argument in a context where it absolutely expects a string.  Please create a complete plunker that demonstrates the issue and I'll be happy to point you in the right direction if possible.

[2017-04-20 10:06] vaibhav-jain commented on #259
@Stabzs Sure I'll create and share plunkr

[2017-04-22 21:02] #259 closed

[2017-05-12 23:07] AndreErb commented on #221
Do I understand this issue correctly, that AngularJS-Toaster currently doesn't work when used within components?

[2017-05-22 14:19] anweshknayak opened #260 "Custom css for toaster"
I want to add a custom css class for toaster. How to do that ?

[2017-05-22 14:30] Stabzs commented on #260
Duplicate of https://github.com/jirikavi/AngularJS-Toaster/issues/222

[2017-05-22 14:30] #260 closed

[2017-08-17 11:32] subbu5341 commented on #184
Nice answer Stabzs...Thanks

[2017-08-17 13:40] Stabzs commented on #184
@subbu5341 happy to hear it pointed you in the right direction!

[2017-08-20 08:07] gt0p opened #262 "Pass toast object as a parameter into onHideCallback"
How about passing the toast object into onHideCallback in order to access the toast data inside callback function.

This would be helpful in cases in which multiple toasters are open and the user want to execute a function only in one of them based on its data.

[2017-08-20 13:41] #262 closed

[2017-08-20 13:41] Stabzs commented on #262
Added in version 2.2.0.

[2017-08-31 16:04] ikwijaya opened #264 "callback button Yes No like bootbotjs"
dear master,

have you example code, for callback with button Yes or No. If Yes return true and No return false, for run the another function. Like bootboxjs, here bootbox example.
`$scope.remove = function(id){
        bootbox.confirm({
            message: "Do you want remove <b>" + id +"</b>?",
            buttons: {
                confirm: {
                    label: 'Yes',

[2017-09-04 07:42] EternallLight opened #265 "Allow placing custom HTML in place of icon"
Hello,

It would be nice to have a possibility to place any custom markup instead of a hardcoded icon. For instance, when notifying about an incoming message, it would be great to place avatar image (or placeholder with capital letters). I believe there are many more cases. Could you please take a look?

Thanks,
Andrey.

[2017-09-04 19:38] EternallLight commented on #265
Added a pull request for this issue.

[2017-09-12 08:50] MoAsmar opened #267 "'position-class': 'toast-top-right' is not working"
I am trying to show my toaster on the top right position of the page, below is my toaster HTML. But when I put the option: 'position-class': 'toast-top-right', the toaster position will take over all the page width and height. (check attached screenshot) and this prevents click event on anything behind!
![ddd](https://user-images.githubusercontent.com/8542126/30316553-4762ac78-97b0-11e7-9921-bde94

[2017-09-13 14:36] Stabzs commented on #267
Can you please provide a plunker or a fiddle that reproduces the issue?  What version are you using?

[2017-09-14 10:25] MoAsmar commented on #267
@2.2.3

[2017-09-14 13:45] Stabzs commented on #267
Are you able to provide a fiddle or plunker that reproduces the issue?

[2017-09-14 13:46] Stabzs commented on #264
The short answer is no, there is nothing like that in the library itself. You would supplement that functionality via directives.

[2017-09-28 06:57] MoAsmar opened #268 "'position-class': 'top-full-width' very high z-index causes content blocking"
This class has very high  z-index value '999999' which causes behind content to be not clickable and toaster container is taking over all the page even after toaster is hidden or not displayed.

[2017-09-28 11:26] #267 closed

[2017-09-28 11:26] #264 closed

[2017-10-03 06:32] MoAsmar commented on #268
This is issue was fixed  by adding `height: 0` on the toaster container, z-index does not block the content anymore.

[2017-10-03 06:32] #268 closed

[2017-10-16 08:38] rohit-totala-enquero commented on #208
For Windows user, running using git bash in Windows, was causing this issue. Running `bower cache clean` and `bower install` on PowerShell resolved the issue.

[2017-10-17 15:35] PatrickWatzlawik opened #270 "Programmatically compiled <toaster-container> always uses toast type "info""
Hey guys,

I'm not sure if this is actually a bug or just a misuse.
Instead of adding the `<toaster-container>` directive in all my page templates (actually different pages / reload, not just logical routes) I thought, that I compile and add this directive programmatically on Angular's Run-Phase.
[code]
When adding the `<toaster-container>` this way, and not "manually", all toasts become info toas

[2017-10-17 16:51] Stabzs commented on #270
You shouldn't have to do either. Just place the toast container directive outside of your router.

[2017-10-18 11:02] PatrickWatzlawik commented on #270
Yeah, thats the point. For physically differnet pages (say pageA.html, pageB.html,.. ), I planned to not place the container by hand each time. Instead there is a universal used module, say `ToasterModule`, which inserts the container into the DOM on `run` time.

[2017-10-18 11:07] #270 closed

[2017-10-20 06:12] Stabzs commented on #270
Awesome thanks for the follow up!

[2017-10-26 10:14] mesosteros opened #271 "Can't use onClick"
The original library has an onClick Callback. However when I implement it like:

[code]
I get nothing. I also tried with onclickCallback, onClick and onClickCallback.
I'm trying to use this to implement a Copy To Clipboard in my app's toaster error messages.

[2017-10-26 13:09] Stabzs commented on #271
You can use the clickHandler argument

[2017-10-26 13:14] mesosteros commented on #271
Thanks @Stabzs , I actually worked around it using the closeHTML (replaced it with a copy icon and added my function to copy the error text I needed).

[2017-10-26 13:14] #271 closed

[2017-10-26 13:26] Stabzs commented on #271
If you need a global click handler, the above is the right way to do it. If you need specific behavior, your approach or using a body type of directive is the right way to handle it. Glad you got it working!

[2017-12-10 08:00] newbie777 opened #272 "sometims it will not trigger the $digest in time and then the toaster will not work correctly in time"
https://github.com/jirikavi/AngularJS-Toaster/blob/9cebfda56eedfe8fe41e378103b5d7c2e260c961/toaster.js#L387

hello , the new toaster is added to the scope.toasters . But the digest  would not be triggered in time in some condition. i suggest put  that into $timeout function to force the $digest

[2018-04-22 11:45] uraquitanfilho commented on #267
I did
#toast-container {
  position: fixed;
  height:1px;
  z-index: 9999999;
  pointer-events: auto;
}
now woks perfect to me.. was add height:1px to #toast-container.
this issue only works to mobile display or resize medium-low size.

[2018-05-11 10:47] rbatllet opened #274 "Bug: version 2.2.0 doesn't work with Webpack"
The version 2.2.0 does't work with webpack v2, v3 and v4, but version 2.1.0 DOES on all!

The error shown in the browser is the following:

![screen shot 2018-05-11 at 12 45 47](https://user-images.githubusercontent.com/3993987/39920942-4780db22-5519-11e8-9991-aab2c2ec91b2.png)

![screen shot 2018-05-11 at 16 19 58](https://user-images.githubusercontent.com/3993987/39929007-35731670-5537-11e8-9f28

[2018-05-14 23:31] tcjcodes commented on #274
I have Angularjs-toaster v2.2.0 working with webpack v4, below is how I imported it:

[code]

What does your AngularJS module look like?

[2018-05-15 11:06] rbatllet commented on #274
[code]
does not work with v2.2.0 but does with v2.1.0.

If I use:

[code]
Works with 2.2.0

[2018-05-15 14:56] #274 closed

[2018-07-09 09:04] vcial opened #275 "Toast are displayed only when I change view"
Hello,
Sometines I need to change view / page to see te toasts display.

Do you have an idea on that issue ?

Thanks a lot for your work.

[2018-07-11 15:53] dasilvas3 opened #276 "Toaster appears briefly with black background before switching to default color."
This is only happening in IE-11
When the toaster is triggered from a controller, it briefly appears with black background and then it displays with correct default color.
![image](https://user-images.githubusercontent.com/10432838/42584277-bd6461e2-852a-11e8-939a-1713095c34a5.png)
I tried to set the CSS class toaster-info as following
 .toast-info {
  background-color: #2f96b4!important;
}
but no

[2018-08-11 11:02] saijayaprakash opened #277 "tapToDismiss not working"

[2018-08-11 13:40] Stabzs commented on #277
Closed for no description given.

[2018-08-11 13:40] #277 closed

[2018-09-13 09:19] mavajih opened #278 "Toaster showing after multiple clicks"
Toaster is showing after multiple clicks on button having below function:

$scope.openToast = function(){
  vm.errortoaster = {
                        type:  'error',
                        title: 'Failed',
                        text:  'Please select one row'
                    };
                    console.log(vm.errortoaster);
                    toaster.pop(vm.errortoaster.type, vm.errort

[2018-10-11 09:33] bhuvizerobug commented on #129
You truly did more than visitors’ expectations. Thank you for rendering
these helpful, trusted, edifying and also cool thoughts on the topic to
Kate.
Visit Us: http://www.zerobugacademy.com/angularjs-training-in-chennai

[2018-10-17 06:40] Dev-Pawar commented on #134
I am using angular 6 and Materilize css. I have created toast service and Injected in Interceptor to handle handle every request.

problem is when I request one page this page have more than 2 http requests. But for every request I have some condition so that request will not be hit to server and show error message of toaster.
**But for every wrong request toast shows message.** I want toast pop u

[2018-11-30 14:54] lacerdanycolas commented on #212
Blake-nouribekian, how do you target multiples container with each one instances of toast? Help Please ;)

[2019-01-16 10:47] insanicly opened #280 "Support for untrusted HTML"
Hi,

Can we add a new option to bodyOutputType since sometimes we might not want to use $sce.trustAsHtml for our html. When you use that it makes our toast vulnerable to XSS attacks.

I can create a PR for you if you want that.

[2019-01-18 06:35] insanicly commented on #280
Hi @Stabzs ,

Actually, ng-bind-html is already sanitizing the input given to it, here is the reference:

https://docs.angularjs.org/api/ng/directive/ngBindHtml

when you call $sce.trustAsHtml you are disabling the sanitization and marking the html as safe.

I need an option for bodyOutputType that redirects my input to ng-bind-html without trusting it.

Actually this statement in your readme is w

[2019-01-18 15:51] Stabzs commented on #280
You are completely correct, my apologies.  I haven't looked at the docs in a very long time and my memory was very fuzzy.

I agree with your assessment and the need to add a new option to bind the html without trusting it explicitly.

In order to preserve backwards compatibility as much as possible, I think leaving the `trustedHtml` output type is still appropriate...we should only render it if ac

[2019-01-18 20:07] Stabzs commented on #280
Based on how the closeHtml is currently being utilized, at this point in time I'm going to leave it with an untrusted call.  If there's a lot of interest down the road I can look at adding an additional configurable override for this behavior.

[2019-01-18 20:09] Stabzs commented on #272
This would need reproduction.  Apologies for the inactivity on this issue.

[2019-01-18 20:09] #272 closed

[2019-01-18 20:10] Stabzs commented on #221
@AndreErb no, that isn't correct.  It just doesn't allow components to be passed to be dynamically rendered.

[2019-01-18 20:10] Stabzs commented on #278
This requires reproduction.  This is most likely a problem with the containing theme.

[2019-01-18 20:10] #278 closed

[2019-01-18 20:11] Stabzs commented on #275
This is most likely an issue with how you are rendering the container.  You should render the container outside of any routing.  If you create a reproduction I'll be happy to take a look.

[2019-01-18 20:11] #275 closed

[2019-01-19 20:08] #280 closed

[2019-06-14 15:44] andrewgale commented on #222
FYI  If anyone just wants to simply customize the text, you can wrap the message in a span and add the class that way:

`toastr.success('<span class="myToastClass">Toast Message</span>', 'Toast Title');`

[2019-08-13 21:03] pablobarba commented on #73
Hi, i implemented the version 3.0.0 and, in my case, this error continues.

there are two identicals newToastEventSubscribers when finished this loop

 $rootScope.$on(
 'toaster-newToast', function (event, toasterId, toastId) {
for (var i = 0, len = newToastEventSubscribers.length; i < len; i++)
{
newToastEventSubscribers[i](event, toasterId, toastId);
}
 });

then function addToast(toast, toastId

[2019-11-08 16:54] slinkybass opened #282 "Incompatibility with Bootstrap 4"
Bootstrap 4 already has .toast class and overrides the AngularJS-Toaster classes.

This issue it's solved by renaming css classes, replacing toast by toastr for example.

[2019-12-13 07:19] developerashu commented on #122
As the current solution satisfy the need for having one button other than close button. But i have need to use multiple types of buttons in toast. So, Could you please make the custom parameter to receive in clickHandler function. So, On that basis i could make the logics there for which button was clicked and fire the events accordingly ?
or QuickFix : If we return $event in clickHandler as third

[2019-12-13 07:33] developerashu commented on #235
https://github.com/jirikavi/AngularJS-Toaster/issues/122#issuecomment-565331196

[2020-06-26 11:33] SiCoe opened #285 "Version missmatch for Bower, repository's bower.json at 2.2.0 but git's tag at 3.0.0"
When installing this library via bower install, an error is shown due to the metadata from the package being different from the version (from the git tag) that is being installed.

I've opened a pull request #284 to show where the bower.json version number has not been updated yet, though the git tag of 3.0.0 will probably need to be repointed at the commit that has the change.